*                           @greluc

/docs/                      @greluc
/docs/adr/                  @greluc
/docs/requirements/         @greluc

/LICENSE                    @greluc
/LICENSES/                  @greluc
/REUSE.toml                 @greluc
/plugin-api/                @greluc
/plugin-sdk/                @greluc
/proto/                     @greluc

/deploy/                    @greluc
/.github/workflows/         @greluc

/CONTRIBUTING.md            @greluc
/SECURITY.md                @greluc
/CODE_OF_CONDUCT.md         @greluc
/cla/                       @greluc
