/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package de.greluc.homeinv.client.apis

import de.greluc.homeinv.client.models.LoginRequest
import de.greluc.homeinv.client.models.PasswordResetCompletion
import de.greluc.homeinv.client.models.PasswordResetRequest
import de.greluc.homeinv.client.models.Problem
import de.greluc.homeinv.client.models.SecondFactorRequest
import de.greluc.homeinv.client.models.SessionView

import de.greluc.homeinv.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class AuthenticationApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Answers the second factor and finishes the login (REQ-AUTH-002)
     * Answers the second factor and finishes the login (REQ-AUTH-002).  The pending login is consumed whether or not the code is right: a wrong one costs the password again. An attacker holding a stolen cookie therefore gets one guess per password, rather than as many as they like against a session that keeps waiting.
     * @param secondFactorRequest the code, which may be a TOTP code or a recovery code
     * @return SessionView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun completeLogin(secondFactorRequest: SecondFactorRequest): HttpResponse<SessionView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = secondFactorRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/auth/mfa",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Redeems a reset token and sets the new password (REQ-SEC-018)
     * Redeems a reset token and sets the new password (REQ-SEC-018).  Ends every session the account has open, then tells the address the account had. A token that is unknown, expired or already spent gets one answer for all three: telling them apart tells somebody holding a stolen token which one they have.
     * @param passwordResetCompletion the token and the new password
     * @return void
     */
    open suspend fun completePasswordReset(passwordResetCompletion: PasswordResetCompletion): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = passwordResetCompletion

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/auth/password-reset/complete",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Verifies credentials and establishes a session
     * Verifies credentials and establishes a session.  Any session that existed before the login is invalidated and a new one created. That is what prevents session fixation: an id an attacker planted beforehand is never the id the authenticated session ends up with.
     * @param loginRequest the credentials
     * @return SessionView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun login(loginRequest: LoginRequest): HttpResponse<SessionView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = loginRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/auth/login",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Ends the session
     * Ends the session.  Always &#x60;204&#x60;, whether or not there was a session. A client cleaning up after itself should not have to care, and the answer says nothing about whether the caller was logged in.
     * @return void
     */
    open suspend fun logout(): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/auth/logout",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Who the caller is.
     * Who the caller is.
     * @return SessionView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun me(): HttpResponse<SessionView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/auth/me",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Asks for a password reset, and says nothing about whether there was anything to reset (REQ-SEC-018)
     * Asks for a password reset, and says nothing about whether there was anything to reset (REQ-SEC-018).  Always &#x60;204&#x60;. An address with an account gets a message with a link good for thirty minutes; an address without one gets nothing, and the two answers are identical — a reset endpoint that said \&quot;no such account\&quot; would be a way to ask the instance who is registered on it (REQ-SEC-110).  Throttled on its own counters rather than the login ones: what this protects is somebody else&#39;s mailbox, and a flood of requests must not lock the account holder out of signing in.
     * @param passwordResetRequest the address
     * @return void
     */
    open suspend fun requestPasswordReset(passwordResetRequest: PasswordResetRequest): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = passwordResetRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/auth/password-reset",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
