/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package de.greluc.homeinv.client.apis

import de.greluc.homeinv.client.models.AddEntryRequest
import de.greluc.homeinv.client.models.CategoryView
import de.greluc.homeinv.client.models.ChildCategoriesRequest
import de.greluc.homeinv.client.models.ChildCategoryRuleView
import de.greluc.homeinv.client.models.CreateCategoryRequest
import de.greluc.homeinv.client.models.CreateItemTypeRequest
import de.greluc.homeinv.client.models.CreateValueListRequest
import de.greluc.homeinv.client.models.FieldDefinitionView
import de.greluc.homeinv.client.models.FieldRemovalPreview
import de.greluc.homeinv.client.models.FieldRequest
import de.greluc.homeinv.client.models.ItemTypeView
import de.greluc.homeinv.client.models.PageCategoryView
import de.greluc.homeinv.client.models.PageItemTypeView
import de.greluc.homeinv.client.models.PageValueListView
import de.greluc.homeinv.client.models.Problem
import de.greluc.homeinv.client.models.TemplateList
import de.greluc.homeinv.client.models.UpdateCategoryRequest
import de.greluc.homeinv.client.models.UpdateItemTypeRequest
import de.greluc.homeinv.client.models.ValueListEntryView
import de.greluc.homeinv.client.models.ValueListView
import de.greluc.homeinv.client.models.VersionView

import de.greluc.homeinv.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class CatalogueApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Adds a value to a list.
     * Adds a value to a list.
     * @param id the list
     * @param addEntryRequest the value and its labels
     * @return ValueListEntryView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun addEntry(id: kotlin.String, addEntryRequest: AddEntryRequest): HttpResponse<ValueListEntryView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = addEntryRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/catalog/value-lists/{id}/entries".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Adds a field to a draft.
     * Adds a field to a draft.
     * @param versionId the draft
     * @param fieldRequest the field
     * @return FieldDefinitionView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun addField(versionId: kotlin.String, fieldRequest: FieldRequest): HttpResponse<FieldDefinitionView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = fieldRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/catalog/versions/{versionId}/fields".replace("{" + "versionId" + "}", "$versionId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Archives a location category.
     * Archives a location category.
     * @param id the category
     * @return CategoryView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun archiveCategory(id: kotlin.String): HttpResponse<CategoryView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/catalog/location-categories/{id}/archive".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Stops offering a value for new input, leaving it valid wherever it is stored.
     * Stops offering a value for new input, leaving it valid wherever it is stored.
     * @param id the entry
     * @return void
     */
    open suspend fun archiveEntry(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/catalog/value-list-entries/{id}/archive".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Archives an item type.
     * Archives an item type.
     * @param id the type
     * @return ItemTypeView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun archiveItemType(id: kotlin.String): HttpResponse<ItemTypeView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/catalog/item-types/{id}/archive".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Every location category of the tenant, with its versions
     * Every location category of the tenant, with its versions.  Beside &#x60;GET /api/v1/locations/categories&#x60;, which answers the picker a person uses when creating a place and carries nothing about versions or drafts. This one is the administrative view, and they are different questions rather than one answered twice.
     * @param cursor an opaque cursor from a previous page, or omitted for the first (optional)
     * @param limit how many at most; capped at 200 by the service (optional, default to 50)
     * @return PageCategoryView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun categories(cursor: kotlin.String? = null, limit: kotlin.Int? = 50): HttpResponse<PageCategoryView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/catalog/location-categories",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * What a category takes underneath it (REQ-CORE-047).
     * What a category takes underneath it (REQ-CORE-047).
     * @param id the category
     * @return ChildCategoryRuleView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun childCategories(id: kotlin.String): HttpResponse<ChildCategoryRuleView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/catalog/location-categories/{id}/child-categories".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Creates a location category, with an empty draft version.
     * Creates a location category, with an empty draft version.
     * @param createCategoryRequest the key, labels and whether its places travel with their contents
     * @return CategoryView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun createCategory(createCategoryRequest: CreateCategoryRequest): HttpResponse<CategoryView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = createCategoryRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/catalog/location-categories",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Creates an item type with an empty draft.
     * Creates an item type with an empty draft.
     * @param createItemTypeRequest what to call it
     * @return ItemTypeView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun createItemType(createItemTypeRequest: CreateItemTypeRequest): HttpResponse<ItemTypeView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = createItemTypeRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/catalog/item-types",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Creates an empty value list.
     * Creates an empty value list.
     * @param createValueListRequest the key and labels
     * @return ValueListView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun createValueList(createValueListRequest: CreateValueListRequest): HttpResponse<ValueListView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = createValueListRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/catalog/value-lists",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Hides a field from input and keeps every value under it (REQ-CORE-026).
     * Hides a field from input and keeps every value under it (REQ-CORE-026).
     * @param id the field
     * @return void
     */
    open suspend fun deprecateField(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/catalog/fields/{id}/deprecate".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Starts a draft of a type or a category, copying what is published now.
     * Starts a draft of a type or a category, copying what is published now.
     * @param ownerId the item type or location category
     * @return VersionView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun draftVersion(ownerId: kotlin.String): HttpResponse<VersionView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/catalog/types/{ownerId}/versions".replace("{" + "ownerId" + "}", "$ownerId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Creates a type from a shipped template (REQ-CORE-030)
     * Creates a type from a shipped template (REQ-CORE-030).  A copy rather than a link: what comes out is an ordinary type, fully editable, and a later release changing the template reaches nothing already imported.
     * @param key which template
     * @return ItemTypeView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun importTypeTemplate(key: kotlin.String): HttpResponse<ItemTypeView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/catalog/type-templates/{key}/import".replace("{" + "key" + "}", "$key"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * One page of the tenant&#39;s item types.
     * One page of the tenant&#39;s item types.
     * @param cursor an opaque cursor from a previous page, or omitted for the first (optional)
     * @param limit how many at most; capped at 200 by the service (optional, default to 50)
     * @return PageItemTypeView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun itemTypes(cursor: kotlin.String? = null, limit: kotlin.Int? = 50): HttpResponse<PageItemTypeView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/catalog/item-types",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * What removing a field would destroy — the affected set REQ-CORE-026 shows first.
     * What removing a field would destroy — the affected set REQ-CORE-026 shows first.
     * @param id the field
     * @return FieldRemovalPreview
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun previewFieldRemoval(id: kotlin.String): HttpResponse<FieldRemovalPreview> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/catalog/fields/{id}/removal-preview".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Publishes a draft.
     * Publishes a draft.
     * @param id the draft
     * @return VersionView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun publish(id: kotlin.String): HttpResponse<VersionView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/catalog/versions/{id}/publish".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Removes a deprecated field and every value stored under it.
     * Removes a deprecated field and every value stored under it.
     * @param id the field
     * @return void
     */
    open suspend fun removeField(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/catalog/fields/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * The generated JSON Schema of a version (REQ-CORE-027)
     * The generated JSON Schema of a version (REQ-CORE-027).  Served as &#x60;application/schema+json&#x60; and as the stored text rather than as a re-rendered tree: this is the document the server validates with (ADR-0056), and a client that receives different bytes would be checking something else.
     * @param id the version
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun schema(id: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/catalog/versions/{id}/schema".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Replaces what a category takes underneath it (REQ-CORE-047)
     * Replaces what a category takes underneath it (REQ-CORE-047).  A &#x60;PUT&#x60; of the whole set, because the rule *is* the set: there is no sensible half of a whitelist, and a client that sends it whole is idempotent by construction. An empty list withdraws the restriction.
     * @param id the category
     * @param childCategoriesRequest the categories it will take
     * @return ChildCategoryRuleView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun setChildCategories(id: kotlin.String, childCategoriesRequest: ChildCategoriesRequest): HttpResponse<ChildCategoryRuleView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = childCategoriesRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/catalog/location-categories/{id}/child-categories".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Creates an item type, with an empty draft version to fill in.
     * Creates an item type, with an empty draft version to fill in.
     * @return TemplateList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun typeTemplates(): HttpResponse<TemplateList> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/catalog/type-templates",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Archives a location category.
     * Archives a location category.
     * @param id the category
     * @param updateCategoryRequest 
     * @return CategoryView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun updateCategory(id: kotlin.String, updateCategoryRequest: UpdateCategoryRequest): HttpResponse<CategoryView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = updateCategoryRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/catalog/location-categories/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Changes a field of a draft.
     * Changes a field of a draft. The key is not changed, because items already carry it.
     * @param id the field
     * @param fieldRequest the new state
     * @return FieldDefinitionView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun updateField(id: kotlin.String, fieldRequest: FieldRequest): HttpResponse<FieldDefinitionView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = fieldRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/catalog/fields/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Archives an item type: offered for nothing new, still referenced by what exists.
     * Archives an item type: offered for nothing new, still referenced by what exists.
     * @param id the type
     * @param updateItemTypeRequest 
     * @return ItemTypeView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun updateItemType(id: kotlin.String, updateItemTypeRequest: UpdateItemTypeRequest): HttpResponse<ItemTypeView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = updateItemTypeRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/catalog/item-types/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * One page of the tenant&#39;s value lists, each with its entries.
     * One page of the tenant&#39;s value lists, each with its entries.
     * @param cursor an opaque cursor from a previous page, or omitted for the first (optional)
     * @param limit how many at most; capped at 200 by the service (optional, default to 50)
     * @return PageValueListView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun valueLists(cursor: kotlin.String? = null, limit: kotlin.Int? = 50): HttpResponse<PageValueListView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/catalog/value-lists",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * One version with every field it declares.
     * One version with every field it declares.
     * @param id the version
     * @return VersionView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun version1(id: kotlin.String): HttpResponse<VersionView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/catalog/versions/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
