/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package de.greluc.homeinv.client.apis

import de.greluc.homeinv.client.models.BeginRequest
import de.greluc.homeinv.client.models.LinkView
import de.greluc.homeinv.client.models.Problem
import de.greluc.homeinv.client.models.Provider
import de.greluc.homeinv.client.models.Started

import de.greluc.homeinv.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class FederatedSignInApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Start a federated sign-in
     * The PKCE verifier and the nonce stay on the server, keyed by a single-use handle in the &#x60;state&#x60; parameter (ADR-0029).
     * @param beginRequest where to return to afterwards, and an address to prefill (optional)
     * @return Started
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun begin(beginRequest: BeginRequest? = null): HttpResponse<Started> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = beginRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/auth/federated/begin",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Finish a federated sign-in
     * Reached by the browser following the provider&#39;s redirect. Answers a redirect, or &#x60;application/problem+json&#x60; to a caller that does not accept HTML.
     * @param state the single-use handle
     * @param code the authorization code
     * @return void
     */
    open suspend fun callback(state: kotlin.String, code: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        state?.apply { localVariableQuery["state"] = listOf("$state") }
        code?.apply { localVariableQuery["code"] = listOf("$code") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/auth/federated/callback",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Link a provider identity to the signed-in account
     * Requires a fresh second factor. The identity is attached only when the callback comes back to the flow this started: a callback cannot change its own purpose.
     * @param beginRequest where to return to afterwards (optional)
     * @return Started
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun link(beginRequest: BeginRequest? = null): HttpResponse<Started> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = beginRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/auth/federated/link",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * The provider identities linked to this account
     * The provider identities attached to the caller&#39;s own account.
     * @param limit  (optional, default to 50)
     * @return kotlin.collections.List<LinkView>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun myLinks(limit: kotlin.Int? = 50): HttpResponse<kotlin.collections.List<LinkView>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/auth/federated/links",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<MyLinksResponse>().map { value }
    }

    @Serializable(MyLinksResponse.Companion::class)
    private class MyLinksResponse(val value: List<LinkView>) {
        companion object : KSerializer<MyLinksResponse> {
            private val serializer: KSerializer<List<LinkView>> = serializer<List<LinkView>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: MyLinksResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = MyLinksResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * The federated providers this instance offers
     * Empty when none is installed or the plugin cannot be reached, so that a sign-in page renders either way rather than failing with it.
     * @param limit  (optional, default to 50)
     * @return kotlin.collections.List<Provider>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun providers(limit: kotlin.Int? = 50): HttpResponse<kotlin.collections.List<Provider>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/auth/federated",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ProvidersResponse>().map { value }
    }

    @Serializable(ProvidersResponse.Companion::class)
    private class ProvidersResponse(val value: List<Provider>) {
        companion object : KSerializer<ProvidersResponse> {
            private val serializer: KSerializer<List<Provider>> = serializer<List<Provider>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ProvidersResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ProvidersResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Unlink a provider identity from this account
     * Removes one of the caller&#39;s own links.  Behind a fresh second factor like the linking is: taking a way in away matters as much as adding one, and somebody who removes a link an attacker planted should be the account&#39;s owner rather than whoever holds the session.
     * @param id which link
     * @return void
     */
    open suspend fun unlink(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/auth/federated/links/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
