/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package de.greluc.homeinv.client.apis

import de.greluc.homeinv.client.models.FieldRules
import de.greluc.homeinv.client.models.FieldVisibilityRequest
import de.greluc.homeinv.client.models.Problem

import de.greluc.homeinv.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class FieldVisibilityApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Lets a role read a sensitive field.
     * Lets a role read a sensitive field.
     * @param fieldVisibilityRequest the field and the role
     * @return void
     */
    open suspend fun allow(fieldVisibilityRequest: FieldVisibilityRequest): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = fieldVisibilityRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/field-visibility",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Withdraws such a grant
     * Withdraws such a grant.  Withdrawing one that was never made is not an error, for the reason deleting twice is not. What it cannot do is take a field from &#x60;OWNER&#x60;: that grant is the default rather than a row, and a tenant whose owner cannot read its own data is one nobody can administer.
     * @param fieldKey the field&#39;s key
     * @param role the built-in role to withdraw it from, or omitted (optional)
     * @param roleDefinitionId the tenant-owned role to withdraw it from, or omitted (optional)
     * @return void
     */
    open suspend fun revoke2(fieldKey: kotlin.String, role: kotlin.String? = null, roleDefinitionId: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        role?.apply { localVariableQuery["role"] = listOf("$role") }
        roleDefinitionId?.apply { localVariableQuery["roleDefinitionId"] = listOf("$roleDefinitionId") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/field-visibility/{fieldKey}".replace("{" + "fieldKey" + "}", "$fieldKey"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Every rule this tenant has made, grouped by field
     * Every rule this tenant has made, grouped by field.  A field that appears with an empty list has a rule for nobody, which is different from a field that does not appear: the second falls back to the default, and &#x60;OWNER&#x60; and &#x60;ADMIN&#x60; read it.  **A list and not a map, since 2026-09-21.** It answered &#x60;Map&lt;String, List&lt;RoleReference&gt;&gt;&#x60; — a JSON object whose keys are field names — which is valid JSON, valid OpenAPI, and the one shape in this whole contract that a code generator cannot type: an object with dynamic keys becomes a raw &#x60;Map&#x60; at best, and the Kotlin generator emitted &#x60;Map&lt;String, List&gt;&#x60; without an element type, which does not compile (&#x60; REQ-API-002&#x60;). The information is the same and the entries carry their own key.
     * @param limit how many at most; capped at 200. It answered an object until this became a list, and REQ-NFR-010 bounds every collection without exception — a tenant with a rule per field of a large type system is exactly the case an unbounded list would meet first (optional, default to 200)
     * @return kotlin.collections.List<FieldRules>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun rules(limit: kotlin.Int? = 200): HttpResponse<kotlin.collections.List<FieldRules>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/field-visibility",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RulesResponse>().map { value }
    }

    @Serializable(RulesResponse.Companion::class)
    private class RulesResponse(val value: List<FieldRules>) {
        companion object : KSerializer<RulesResponse> {
            private val serializer: KSerializer<List<FieldRules>> = serializer<List<FieldRules>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: RulesResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = RulesResponse(serializer.deserialize(decoder))
        }
    }

}
