/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package de.greluc.homeinv.client.apis

import de.greluc.homeinv.client.models.ImportJobView
import de.greluc.homeinv.client.models.MappingProfile
import de.greluc.homeinv.client.models.Problem
import de.greluc.homeinv.client.models.UploadRequest

import de.greluc.homeinv.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class ImportApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * One import job, which is how progress is watched and the report is read.
     * One import job, which is how progress is watched and the report is read.
     * @param id which one
     * @return ImportJobView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun job(id: kotlin.String): HttpResponse<ImportJobView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/import-jobs/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * 
     * @param limit  (optional, default to 50)
     * @return kotlin.collections.List<ImportJobView>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listJobs(limit: kotlin.Int? = 50): HttpResponse<kotlin.collections.List<ImportJobView>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/import-jobs",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ListJobsResponse>().map { value }
    }

    @Serializable(ListJobsResponse.Companion::class)
    private class ListJobsResponse(val value: List<ImportJobView>) {
        companion object : KSerializer<ListJobsResponse> {
            private val serializer: KSerializer<List<ImportJobView>> = serializer<List<ImportJobView>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ListJobsResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ListJobsResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * The mapping profiles a CSV may be read with (REQ-PORT-002)
     * The mapping profiles a CSV may be read with (REQ-PORT-002).  Bounded like every other collection (REQ-NFR-010), although this one is two plus whatever a tenant wrote: the rule is about the shape of an endpoint rather than about today&#39;s row count, and a list that is short now is a list nobody notices growing.
     * @param limit how many at most; capped at 200 (optional, default to 50)
     * @return kotlin.collections.List<MappingProfile>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun profiles(limit: kotlin.Int? = 50): HttpResponse<kotlin.collections.List<MappingProfile>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/import-jobs/profiles",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ProfilesResponse>().map { value }
    }

    @Serializable(ProfilesResponse.Companion::class)
    private class ProfilesResponse(val value: List<MappingProfile>) {
        companion object : KSerializer<ProfilesResponse> {
            private val serializer: KSerializer<List<MappingProfile>> = serializer<List<MappingProfile>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ProfilesResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ProfilesResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Uploads an archive and queues it (REQ-PORT-007).
     * Uploads an archive and queues it (REQ-PORT-007).
     * @param dryRun whether to walk the whole import and then roll it back, writing nothing (optional, default to false)
     * @param profile which mapping profile reads a CSV — &#x60;homebox&#x60;, &#x60;inventree&#x60; or one the tenant wrote. Absent for this application&#39;s own archive, which needs no mapping (optional)
     * @param uploadRequest  (optional)
     * @return ImportJobView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun upload(dryRun: kotlin.Boolean? = false, profile: kotlin.String? = null, uploadRequest: UploadRequest? = null): HttpResponse<ImportJobView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = uploadRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        dryRun?.apply { localVariableQuery["dryRun"] = listOf("$dryRun") }
        profile?.apply { localVariableQuery["profile"] = listOf("$profile") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/import-jobs",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
