/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package de.greluc.homeinv.client.apis

import de.greluc.homeinv.client.models.AccountView
import de.greluc.homeinv.client.models.Certificate
import de.greluc.homeinv.client.models.EntitlementsRequest
import de.greluc.homeinv.client.models.InstancePluginView
import de.greluc.homeinv.client.models.PageAccountView
import de.greluc.homeinv.client.models.PageCertificate
import de.greluc.homeinv.client.models.PluginStateRequest
import de.greluc.homeinv.client.models.PluginStateView
import de.greluc.homeinv.client.models.Problem
import de.greluc.homeinv.client.models.QuotaRequest
import de.greluc.homeinv.client.models.SessionsEndedView
import de.greluc.homeinv.client.models.TenantLifecycleView
import de.greluc.homeinv.client.models.TenantStateRequest

import de.greluc.homeinv.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class InstanceApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Finds an account by its login address
     * Finds an account by its login address.  The operator&#39;s way in: they know the address somebody wrote to them, not a UUID. An address with no live account is a &#x60;404&#x60;, which here says exactly what it means — the operator is entitled to know whether an account exists, which is the difference between this endpoint and every tenant-scoped one.
     * @param email the address to look up
     * @return AccountView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun byEmail(email: kotlin.String): HttpResponse<AccountView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        email?.apply { localVariableQuery["email"] = listOf("$email") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/instance/accounts",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * One account by id.
     * One account by id.
     * @param id the account
     * @return AccountView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun byId(id: kotlin.String): HttpResponse<AccountView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/instance/accounts/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Ends every session of one account (REQ-SEC-082)
     * Ends every session of one account (REQ-SEC-082).  The operator&#39;s half of &#x60;DELETE /api/v1/me/sessions&#x60;: the person whose account it is can sign every device out themselves, and this is for when they cannot — a stolen account, an employee who has left, a session somebody else is holding.  It signs them out and does not lock them out. An account whose password is still good signs straight back in, which is correct: locking is a different measure with different consequences, and an operator who wants it clears the entitlements or suspends the tenant.
     * @param id the account
     * @return SessionsEndedView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun endEverySession1(id: kotlin.String): HttpResponse<SessionsEndedView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/instance/accounts/{id}/sessions".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * The certificate for one tenant.
     * The certificate for one tenant.
     * @param tenantId the tenant that was erased
     * @return Certificate
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun erasure(tenantId: kotlin.String): HttpResponse<Certificate> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/instance/erasures/{tenantId}".replace("{" + "tenantId" + "}", "$tenantId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * 
     * @param cursor  (optional)
     * @param limit  (optional, default to 50)
     * @return PageCertificate
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun erasures(cursor: kotlin.String? = null, limit: kotlin.Int? = 50): HttpResponse<PageCertificate> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/instance/erasures",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Permits one capability **for the instance itself** (ADR-0066)
     * Permits one capability **for the instance itself** (ADR-0066).  This is not consent on any tenant&#39;s behalf and reaches no tenant&#39;s data: a call made under an instance grant carries no tenant context, so every row-level policy yields zero rows. What it makes possible is the account mail the deployment owes a person — a password reset, a new second factor, a remote sign-out — including for somebody who is a member of no tenant (REQ-NOTI-004, REQ-SEC-018).  Idempotent, and a capability the manifest does not declare is refused rather than recorded, exactly as on the tenant path.
     * @param pluginId the plugin
     * @param capability the capability, spelled as 09 §9.4 spells it
     * @return void
     */
    open suspend fun grantInstanceCapability(pluginId: kotlin.String, capability: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/instance/plugins/{pluginId}/capabilities/{capability}".replace("{" + "pluginId" + "}", "$pluginId").replace("{" + "capability" + "}", "$capability"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * One page of the accounts that administer the instance
     * One page of the accounts that administer the instance.  \&quot;Who can do this to us\&quot; — the question an operator asks before granting and an auditor asks afterwards.
     * @param cursor an opaque cursor from a previous page, or omitted for the first (optional)
     * @param limit how many at most; capped at 200 (optional, default to 50)
     * @return PageAccountView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun operators(cursor: kotlin.String? = null, limit: kotlin.Int? = 50): HttpResponse<PageAccountView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/instance/operators",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * What is installed, and what the **instance** has permitted each one (ADR-0066)
     * What is installed, and what the **instance** has permitted each one (ADR-0066).  The operator&#39;s half of the plugin surface. The tenant&#39;s half is &#x60;/api/v1/plugins&#x60;, which shows the same plugins with that tenant&#39;s grants beside them; the two answer different questions and neither can answer the other&#39;s.
     * @param limit how many at most; capped at 200 (optional, default to 200)
     * @return kotlin.collections.List<InstancePluginView>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun plugins(limit: kotlin.Int? = 200): HttpResponse<kotlin.collections.List<InstancePluginView>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/instance/plugins",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<PluginsResponse>().map { value }
    }

    @Serializable(PluginsResponse.Companion::class)
    private class PluginsResponse(val value: List<InstancePluginView>) {
        companion object : KSerializer<PluginsResponse> {
            private val serializer: KSerializer<List<InstancePluginView>> = serializer<List<InstancePluginView>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: PluginsResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = PluginsResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * What has been decided about one tenant&#39;s quotas (REQ-TEN-009, 13 §13
     * What has been decided about one tenant&#39;s quotas (REQ-TEN-009, 13 §13.9).  Limits only, and an empty answer means nothing has been decided rather than that the tenant may do nothing — a quota with no entry falls back to the instance-wide default. What the tenant has **used** is its own data and is not readable here: an operator who needs to see inside a tenant impersonates (REQ-SEC-072), which is audited and which the affected user can see.
     * @param tenantId the tenant
     * @return kotlin.collections.Map<kotlin.String, kotlin.Long>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun quotasOf(tenantId: kotlin.String): HttpResponse<kotlin.collections.Map<kotlin.String, kotlin.Long>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/instance/tenants/{tenantId}/quotas".replace("{" + "tenantId" + "}", "$tenantId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<QuotasOfResponse>().map { value }
    }

    @Serializable(QuotasOfResponse.Companion::class)
    private class QuotasOfResponse(val value: Map<kotlin.String, kotlin.Long>) {
        companion object : KSerializer<QuotasOfResponse> {
            private val serializer: KSerializer<Map<kotlin.String, kotlin.Long>> = serializer<Map<String, kotlin.Long>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: QuotasOfResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = QuotasOfResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Replaces what an account is entitled to do on the instance
     * Replaces what an account is entitled to do on the instance.  All three values in one request, because they are one decision. Nothing here stops an operator clearing their own flag and locking the instance out of its own administration; the way back is the one-shot &#x60;bootstrap&#x60; service, run again with the same address, and guarding against it in code would mean deciding in the application which operator is the last one — a question the application cannot answer while somebody else is deleting an account.
     * @param id the account to change
     * @param entitlementsRequest the new entitlements
     * @return AccountView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun setEntitlements(id: kotlin.String, entitlementsRequest: EntitlementsRequest): HttpResponse<AccountView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = entitlementsRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/instance/accounts/{id}/entitlements".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Takes a plugin out of service, or puts it back (REQ-SEC-082, 09 §9
     * Takes a plugin out of service, or puts it back (REQ-SEC-082, 09 §9.4).  One plugin stops being called at once, for every tenant, without uninstalling it and without touching a grant — so putting it back is this call again and not a re-consent by every tenant that had granted it.
     * @param pluginId which plugin
     * @param pluginStateRequest whether to disable it
     * @return PluginStateView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun setPluginState(pluginId: kotlin.String, pluginStateRequest: PluginStateRequest): HttpResponse<PluginStateView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = pluginStateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/instance/plugins/{pluginId}/state".replace("{" + "pluginId" + "}", "$pluginId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }




    /**
     * enum for parameter quota
     */
    @Serializable
    enum class QuotaSetQuota(val value: kotlin.String) {
        
        @SerialName(value = "ITEM_COUNT")
        ITEM_COUNT("ITEM_COUNT"),
        
        @SerialName(value = "STORAGE_BYTES")
        STORAGE_BYTES("STORAGE_BYTES"),
        
        @SerialName(value = "PLUGIN_COUNT")
        PLUGIN_COUNT("PLUGIN_COUNT"),
        
        @SerialName(value = "API_CALLS")
        API_CALLS("API_CALLS");
        
        override fun toString(): kotlin.String = value
    }

    /**
     * Sets what a tenant may use
     * Sets what a tenant may use.  The write goes through the &#x60;SECURITY DEFINER&#x60; function of migration &#x60;V24&#x60;, which is what 07 §7.5 names for cross-tenant administration. The operator establishes no tenant context and gains no other reach into the tenant by doing this.
     * @param tenantId the tenant
     * @param quota which bound
     * @param quotaRequest the new limit
     * @return kotlin.collections.Map<kotlin.String, kotlin.Long>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun setQuota(tenantId: kotlin.String, quota: QuotaSetQuota, quotaRequest: QuotaRequest): HttpResponse<kotlin.collections.Map<kotlin.String, kotlin.Long>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = quotaRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/instance/tenants/{tenantId}/quotas/{quota}".replace("{" + "tenantId" + "}", "$tenantId").replace("{" + "quota" + "}", "${ quota.value }"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<SetQuotaResponse>().map { value }
    }


    @Serializable(SetQuotaResponse.Companion::class)
    private class SetQuotaResponse(val value: Map<kotlin.String, kotlin.Long>) {
        companion object : KSerializer<SetQuotaResponse> {
            private val serializer: KSerializer<Map<kotlin.String, kotlin.Long>> = serializer<Map<String, kotlin.Long>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: SetQuotaResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = SetQuotaResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Suspends a tenant, or lets it back in (REQ-SEC-082, REQ-TEN-011)
     * Suspends a tenant, or lets it back in (REQ-SEC-082, REQ-TEN-011).  The immediate measure with the widest reach and the least damage: a suspended tenant answers nothing at all — every request for it gets &#x60;403 tenant-inaccessible&#x60; from the interceptor that already handles the other inaccessible states — and not one row of its data is touched. Reinstating it is this call with &#x60;ACTIVE&#x60; and leaves no trace in what the tenant sees.  It does **not** reach &#x60;PENDING_DELETION&#x60; or &#x60;ERASED&#x60;, in either direction. An erasure is the tenant&#39;s own decision with a grace period and a revocation token, and an operator who could set the state directly would start that clock without either — or, worse, end it: withdrawing a deletion request is what the token is for.
     * @param tenantId which tenant
     * @param tenantStateRequest the state to move it to
     * @return TenantLifecycleView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun setTenantState(tenantId: kotlin.String, tenantStateRequest: TenantStateRequest): HttpResponse<TenantLifecycleView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = tenantStateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/instance/tenants/{tenantId}/state".replace("{" + "tenantId" + "}", "$tenantId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Where a tenant stands, for the operator view
     * Where a tenant stands, for the operator view.  All four states and not only the two the call above moves between: an operator looking at a tenant that is waiting to be erased should see that, which is exactly why suspension will refuse it.
     * @param tenantId which tenant
     * @return TenantLifecycleView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun tenantState(tenantId: kotlin.String): HttpResponse<TenantLifecycleView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/instance/tenants/{tenantId}/state".replace("{" + "tenantId" + "}", "$tenantId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Withdraws one instance-level capability (ADR-0066)
     * Withdraws one instance-level capability (ADR-0066).  Withdrawing what was never granted is not an error: the outcome the caller wants is \&quot;this plugin may not do this for the instance\&quot;, and that is already true.
     * @param pluginId the plugin
     * @param capability the capability
     * @return void
     */
    open suspend fun withdrawInstanceCapability(pluginId: kotlin.String, capability: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/instance/plugins/{pluginId}/capabilities/{capability}".replace("{" + "pluginId" + "}", "$pluginId").replace("{" + "capability" + "}", "$capability"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
