/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package de.greluc.homeinv.client.apis

import de.greluc.homeinv.client.models.BulkRequest
import de.greluc.homeinv.client.models.BulkResponse
import de.greluc.homeinv.client.models.BundleMemberRequest
import de.greluc.homeinv.client.models.BundleMemberView
import de.greluc.homeinv.client.models.CreateItemRequest
import de.greluc.homeinv.client.models.DisposalRequest
import de.greluc.homeinv.client.models.ItemView
import de.greluc.homeinv.client.models.LoanRequest
import de.greluc.homeinv.client.models.LoanView
import de.greluc.homeinv.client.models.MaintenanceEntryView
import de.greluc.homeinv.client.models.MaintenanceRequest
import de.greluc.homeinv.client.models.PageBundleMemberView
import de.greluc.homeinv.client.models.PageItemView
import de.greluc.homeinv.client.models.PageRelationView
import de.greluc.homeinv.client.models.PageRevisionView
import de.greluc.homeinv.client.models.Problem
import de.greluc.homeinv.client.models.RelationRequest
import de.greluc.homeinv.client.models.RelationView
import de.greluc.homeinv.client.models.ReturnRequest
import de.greluc.homeinv.client.models.UpdateItemRequest

import de.greluc.homeinv.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class ItemsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Puts an item into this bundle (REQ-CORE-007)
     * Puts an item into this bundle (REQ-CORE-007).  It does not move: a bundle is not a place, and the member stays in the location it is kept in. Refused with &#x60;409&#x60; when it would make the bundle contain itself, through any chain.
     * @param id the item that contains
     * @param bundleMemberRequest the item to put in it
     * @return BundleMemberView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun addToBundle(id: kotlin.String, bundleMemberRequest: BundleMemberRequest): HttpResponse<BundleMemberView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = bundleMemberRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/items/{id}/bundle".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Applies one change to many items (REQ-CORE-011)
     * Applies one change to many items (REQ-CORE-011).  Up to 500 entries, each with an outcome of its own. The status code says whether anything failed and the body says what: &#x60;200&#x60; when every entry was applied, &#x60;207&#x60; when at least one was not (08 §8.2, decided with the owner 2026-09-13). A client that only wants to know whether to re-read its list reads the code; one that wants to tell a person what happened reads the body.  The permission on this handler is deliberately the weakest one: the path serves four operations and an annotation is a constant, so what actually gates the change is the application layer, which requires &#x60;inventory:item:update&#x60;, &#x60;tagging:tag:assign&#x60; or &#x60;inventory:item:delete&#x60; depending on the operation (ADR-0010).
     * @param bulkRequest the operation, its target and the items
     * @return BulkResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun bulkChangeItems(bulkRequest: BulkRequest): HttpResponse<BulkResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = bulkRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/items/bulk",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * What this bundle contains (REQ-CORE-007)
     * What this bundle contains (REQ-CORE-007).  Direct members only: a bundle inside a bundle is one entry here and answers for its own contents when it is asked, which is what keeps a page bounded however deep the graph goes. Something in the trash is left out — it is restorable, and a list of what is in a box must not offer what is no longer in it.
     * @param id the item that contains
     * @param cursor an opaque cursor from a previous page, or omitted for the first (optional)
     * @param limit how many at most; capped at 200 by the service (optional, default to 50)
     * @return PageBundleMemberView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun bundleContents(id: kotlin.String, cursor: kotlin.String? = null, limit: kotlin.Int? = 50): HttpResponse<PageBundleMemberView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/items/{id}/bundle".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Which bundles this item is in (REQ-CORE-007)
     * Which bundles this item is in (REQ-CORE-007).  A list and not a value: an item may be in the camera bag and in the insured-equipment set at once, and forcing a choice would make one of the two wrong about the same object.
     * @param id the item
     * @param cursor an opaque cursor from a previous page, or omitted for the first (optional)
     * @param limit how many at most; capped at 200 by the service (optional, default to 50)
     * @return PageBundleMemberView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun bundlesContaining(id: kotlin.String, cursor: kotlin.String? = null, limit: kotlin.Int? = 50): HttpResponse<PageBundleMemberView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/items/{id}/bundles".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Creates an item, or returns the one that is already there
     * Creates an item, or returns the one that is already there.  &#x60;201&#x60; when this request created it, &#x60;200&#x60; when an identical creation had already happened — which is what makes a client&#39;s retry safe (REQ-CORE-001). A different item under the same id is a &#x60;409&#x60;.
     * @param createItemRequest the item to create
     * @return ItemView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun createItem(createItemRequest: CreateItemRequest): HttpResponse<ItemView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = createItemRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/items",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Deletes an item, leaving a tombstone
     * Deletes an item, leaving a tombstone.  &#x60;204&#x60; whether or not the item was already deleted: a client retrying a request whose answer it never saw must not be told it failed for succeeding twice.
     * @param id the item
     * @return void
     */
    open suspend fun deleteItem(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/items/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Records that this item was sold or otherwise parted with (REQ-LIFE-007)
     * Records that this item was sold or otherwise parted with (REQ-LIFE-007).  **Not a delete, and deliberately a different verb.** The item stays, stays readable and keeps its history; what changes is its state. \&quot;What did we have, and what became of it\&quot; is the question an inventory exists to answer, and &#x60;DELETE&#x60; would answer half of it.  Takes &#x60;ITEM_UPDATE&#x60; rather than &#x60;ITEM_DELETE&#x60; for the same reason: nothing is being removed. It is terminal, though, so it takes &#x60;If-Match&#x60; like any other write on a single resource (REQ-API-004).
     * @param id the item
     * @param disposalRequest what became of it
     * @return ItemView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun disposeOfItem(id: kotlin.String, disposalRequest: DisposalRequest): HttpResponse<ItemView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = disposalRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/items/{id}/disposal".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Reads one item.
     * Reads one item.
     * @param id the item
     * @return ItemView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getItem(id: kotlin.String): HttpResponse<ItemView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/items/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Every relation this item takes part in, from either end (REQ-CORE-006).
     * Every relation this item takes part in, from either end (REQ-CORE-006).
     * @param id the item
     * @param cursor an opaque cursor from a previous page, or omitted for the first (optional)
     * @param limit how many at most; capped at 200 by the service (optional, default to 50)
     * @return PageRelationView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun itemRelations(id: kotlin.String, cursor: kotlin.String? = null, limit: kotlin.Int? = 50): HttpResponse<PageRelationView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/items/{id}/relations".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * One page of an item&#39;s history, newest first (REQ-CORE-010).
     * One page of an item&#39;s history, newest first (REQ-CORE-010).
     * @param id the item
     * @param cursor an opaque cursor from a previous page, or omitted for the first (optional)
     * @param limit how many at most; capped at 200 by the service (optional, default to 50)
     * @return PageRevisionView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun itemRevisions(id: kotlin.String, cursor: kotlin.String? = null, limit: kotlin.Int? = 50): HttpResponse<PageRevisionView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/items/{id}/revisions".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Hands this item to somebody (REQ-LIFE-005).
     * Hands this item to somebody (REQ-LIFE-005).
     * @param id the item
     * @param loanRequest to whom, since when, and back when
     * @return LoanView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun lendItem(id: kotlin.String, loanRequest: LoanRequest): HttpResponse<LoanView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = loanRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/items/{id}/loans".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * The tenant&#39;s items, filtered by a query (REQ-SRCH-001, 08 §8
     * The tenant&#39;s items, filtered by a query (REQ-SRCH-001, 08 §8.2).  On the collection and not on a path of its own. A search is a view of the items, so it answers where the items are — which is what the chapter has described since the first commit, while the implementation answered at &#x60;/api/v1/search&#x60; until 2026-09-14. The old path is gone rather than aliased: two paths for one question is the drift this chapter exists to prevent, and a saved search lives at &#x60;/saved-searches&#x60;, where 08 §8.1 has always put it.  The grammar arrives in pieces. &#x60;q&#x60;, &#x60;filter&#x60;, &#x60;facet&#x60;, &#x60;sort&#x60;, &#x60;cursor&#x60; and &#x60;limit&#x60; work; &#x60;fields&#x60; is not here yet. A parameter that is not implemented is absent rather than accepted and ignored, because silently ignoring a filter is how somebody ships a report over the wrong rows.  &#x60;SEARCH_QUERY&#x60; and not &#x60;ITEM_READ&#x60;: a listing is an enumeration surface whether or not it carries a query, and reading one thing you were pointed at is a different capability from finding out what exists. &#x60;GUEST&#x60; holds the first and not the second.
     * @param q what to look for; omitted lists everything, paged the same way (optional)
     * @param language &#x60;de&#x60; or &#x60;en&#x60;, deciding which generated vector is searched (optional, default to "de")
     * @param facet which dimensions to count beside the rows, comma-separated: &#x60;facet&#x3D;tag,location&#x60;. Each is counted without its own filter, so a sidebar still shows where one could click next (REQ-SRCH-002) (optional)
     * @param sort what to order by, a leading minus for descending: &#x60;-updatedAt&#x60;, &#x60;name&#x60;, &#x60;attr.manufacturer&#x60;. One key only — several are refused rather than reduced to the first (REQ-SRCH-004). Omitted returns the default order, oldest first (optional)
     * @param cursor an opaque cursor from a previous response, or omitted for the first page (optional)
     * @param limit how many at most (optional, default to 50)
     * @param filter A condition, repeatable and conjunctive - every one given must hold, while &#x60;in&#x60; widens within a single one. Four dimensions: &#x60;attr.&lt;key&gt;&#x60; for a field the type marks searchable, &#x60;type&#x60; for a type key, &#x60;tag&#x60; for a tag name and &#x60;location&#x60; for a location id. The operator may be left out for equality, so &#x60;type:power-tool&#x60; and &#x60;tag:in:broken,repair&#x60; read as they look; &#x60;location:subtree:&lt;uuid&gt;&#x60; takes a place and everything under it. An attribute additionally takes &#x60;gt&#x60;, &#x60;gte&#x60;, &#x60;lt&#x60; and &#x60;lte&#x60;, and a range over a field that carries a unit names it last - &#x60;attr.purchasePrice:gte:100:EUR&#x60; - and is refused without it. (optional)
     * @return PageItemView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listItems(q: kotlin.String? = null, language: kotlin.String? = "de", facet: kotlin.String? = null, sort: kotlin.String? = null, cursor: kotlin.String? = null, limit: kotlin.Int? = 50, filter: kotlin.collections.List<kotlin.String>? = null): HttpResponse<PageItemView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        q?.apply { localVariableQuery["q"] = listOf("$q") }
        language?.apply { localVariableQuery["language"] = listOf("$language") }
        facet?.apply { localVariableQuery["facet"] = listOf("$facet") }
        sort?.apply { localVariableQuery["sort"] = listOf("$sort") }
        cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        filter?.apply { localVariableQuery["filter"] = toMultiValue(this, "multi") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/items",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Who has had this item (REQ-LIFE-005)
     * Who has had this item (REQ-LIFE-005).  Most recent handover first, open loan included. A client tells the open one by its absent &#x60;returnedOn&#x60; rather than by a flag: the row already says it, and a second answer to one question is the kind that goes wrong.
     * @param id the item
     * @param limit how many at most; capped at 200 by the service (optional, default to 50)
     * @return kotlin.collections.List<LoanView>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun loansOf(id: kotlin.String, limit: kotlin.Int? = 50): HttpResponse<kotlin.collections.List<LoanView>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/items/{id}/loans".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<LoansOfResponse>().map { value }
    }

    @Serializable(LoansOfResponse.Companion::class)
    private class LoansOfResponse(val value: List<LoanView>) {
        companion object : KSerializer<LoansOfResponse> {
            private val serializer: KSerializer<List<LoanView>> = serializer<List<LoanView>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: LoansOfResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = LoansOfResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * What has been done to this item (REQ-LIFE-003)
     * What has been done to this item (REQ-LIFE-003).  Most recent work first, ordered by when the work was done rather than by when it was recorded: somebody entering last year&#39;s invoice today has not just serviced the bicycle.
     * @param id the item
     * @param limit how many at most; capped at 200 by the service (optional, default to 50)
     * @return kotlin.collections.List<MaintenanceEntryView>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun maintenanceOf(id: kotlin.String, limit: kotlin.Int? = 50): HttpResponse<kotlin.collections.List<MaintenanceEntryView>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/items/{id}/maintenance".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<MaintenanceOfResponse>().map { value }
    }

    @Serializable(MaintenanceOfResponse.Companion::class)
    private class MaintenanceOfResponse(val value: List<MaintenanceEntryView>) {
        companion object : KSerializer<MaintenanceOfResponse> {
            private val serializer: KSerializer<List<MaintenanceEntryView>> = serializer<List<MaintenanceEntryView>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: MaintenanceOfResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = MaintenanceOfResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Removes an item for good — the second stage of a deletion, and the irreversible one
     * Removes an item for good — the second stage of a deletion, and the irreversible one.  Refused for anything that is not already in the trash: a person purges what they have decided to delete, not what they are looking at.
     * @param id the item
     * @return void
     */
    open suspend fun purgeItem(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/items/{id}/permanently".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Records a piece of work on this item (REQ-LIFE-003)
     * Records a piece of work on this item (REQ-LIFE-003).  There is no endpoint that edits one. A maintenance log is a record of what happened and is worth something only if it cannot be tidied up afterwards; a mistake is corrected by recording the correction, and an entry logged against the wrong item is removed.
     * @param id the item
     * @param maintenanceRequest what was done
     * @return MaintenanceEntryView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun recordMaintenance(id: kotlin.String, maintenanceRequest: MaintenanceRequest): HttpResponse<MaintenanceEntryView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = maintenanceRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/items/{id}/maintenance".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Relates this item to another.
     * Relates this item to another.
     * @param id the item the relation is stated from
     * @param relationRequest what it points at and how
     * @return RelationView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun relateItem(id: kotlin.String, relationRequest: RelationRequest): HttpResponse<RelationView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = relationRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/items/{id}/relations".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Takes an item out of this bundle (REQ-CORE-007)
     * Takes an item out of this bundle (REQ-CORE-007).  Addressed by the pair rather than by the membership&#39;s id, because that is how a client holds it: it is looking at a bundle and at a thing in it. Nothing moves here either.
     * @param id the item that contains
     * @param memberId the item to take out
     * @return void
     */
    open suspend fun removeFromBundle(id: kotlin.String, memberId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/items/{id}/bundle/{memberId}".replace("{" + "id" + "}", "$id").replace("{" + "memberId" + "}", "$memberId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Removes a maintenance entry that should not be there (REQ-LIFE-003).
     * Removes a maintenance entry that should not be there (REQ-LIFE-003).
     * @param id the item, so the entry is addressed where it is read
     * @param entryId the entry
     * @return void
     */
    open suspend fun removeMaintenance(id: kotlin.String, entryId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/items/{id}/maintenance/{entryId}".replace("{" + "id" + "}", "$id").replace("{" + "entryId" + "}", "$entryId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Brings an item back out of the trash.
     * Brings an item back out of the trash.
     * @param id the item
     * @return ItemView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restoreItem(id: kotlin.String): HttpResponse<ItemView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/items/{id}/restore".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Makes an earlier state current again
     * Makes an earlier state current again.  A new revision rather than a rewind: the history after a restore still says what happened and when, which is what makes it a history rather than a current state with extra steps.
     * @param id the item
     * @param revision which revision to put back
     * @return ItemView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restoreItemRevision(id: kotlin.String, revision: kotlin.Long): HttpResponse<ItemView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/items/{id}/revisions/{revision}/restore".replace("{" + "id" + "}", "$id").replace("{" + "revision" + "}", "$revision"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Records that this item came back (REQ-LIFE-005)
     * Records that this item came back (REQ-LIFE-005).  A &#x60;POST&#x60; to a sub-resource, the shape &#x60;/restore&#x60; uses, because a return is a transition and not an edit of a field somebody chose. Recording one twice leaves the first date standing — the first return is the true one.
     * @param id the item
     * @param loanId which loan is being closed
     * @param returnRequest when it came back
     * @return LoanView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun returnItem(id: kotlin.String, loanId: kotlin.String, returnRequest: ReturnRequest): HttpResponse<LoanView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = returnRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/items/{id}/loans/{loanId}/return".replace("{" + "id" + "}", "$id").replace("{" + "loanId" + "}", "$loanId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * One page of the tenant&#39;s trashed items (REQ-CORE-009).
     * One page of the tenant&#39;s trashed items (REQ-CORE-009).
     * @param cursor an opaque cursor from a previous page, or omitted for the first (optional)
     * @param limit how many at most; capped at 200 by the service (optional, default to 50)
     * @return PageItemView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun trashedItems(cursor: kotlin.String? = null, limit: kotlin.Int? = 50): HttpResponse<PageItemView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/items/trash",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Removes a relation.
     * Removes a relation.
     * @param id the item, which is in the path so the relation is addressed where it is read
     * @param relationId the relation
     * @return void
     */
    open suspend fun unrelateItem(id: kotlin.String, relationId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/items/{id}/relations/{relationId}".replace("{" + "id" + "}", "$id").replace("{" + "relationId" + "}", "$relationId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Replaces the mutable fields of an item
     * Replaces the mutable fields of an item.  Requires &#x60;If-Match&#x60; (REQ-API-004). Editing the same thing from two screens is the case the header exists for, and an inventory is edited by a household.
     * @param id the item
     * @param updateItemRequest the new values
     * @return ItemView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun updateItem(id: kotlin.String, updateItemRequest: UpdateItemRequest): HttpResponse<ItemView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = updateItemRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/items/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
