/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package de.greluc.homeinv.client.apis

import de.greluc.homeinv.client.models.CreateLocationRequest
import de.greluc.homeinv.client.models.LocationView
import de.greluc.homeinv.client.models.MoveLocationRequest
import de.greluc.homeinv.client.models.PageItemView
import de.greluc.homeinv.client.models.PageLocationCategoryView
import de.greluc.homeinv.client.models.PageLocationView
import de.greluc.homeinv.client.models.Problem
import de.greluc.homeinv.client.models.RenameLocationRequest

import de.greluc.homeinv.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class LocationsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Creates a location.
     * Creates a location.
     * @param createLocationRequest what to create
     * @return LocationView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun createLocation(createLocationRequest: CreateLocationRequest): HttpResponse<LocationView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = createLocationRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/locations",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Deletes a location, if nothing is inside it.
     * Deletes a location, if nothing is inside it.
     * @param id the location
     * @return void
     */
    open suspend fun deleteLocation(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/locations/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Reads one location, with the names from the root down to it
     * Reads one location, with the names from the root down to it.  Carries the &#x60;ETag&#x60; a write has to send back (REQ-API-004).
     * @param id the location
     * @return LocationView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getLocation(id: kotlin.String): HttpResponse<LocationView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/locations/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * The items in a location, optionally including everything below it (REQ-CORE-049)
     * The items in a location, optionally including everything below it (REQ-CORE-049).  This replaced a &#x60;/subtree&#x60; endpoint that returned a bare list of location ids. That shape had two problems and neither was cosmetic: it answered a question nobody asked — the requirement is about *items* — and it returned an unbounded collection, which &#x60;REQ-NFR-010&#x60; forbids for every endpoint without exception.  The paging is the same cursor mechanism search uses, deliberately: one implementation, one discipline, and a cursor that is bound to the location filter as well as to the text, so a cursor from one location&#39;s page is refused on another&#39;s (REQ-SRCH-009).
     * @param id the location
     * @param includeSubtree whether items in locations below this one count as well (optional, default to false)
     * @param cursor an opaque cursor from a previous page (optional)
     * @param limit how many at most; capped at 200 by the service (optional, default to 50)
     * @return PageItemView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun itemsInLocation(id: kotlin.String, includeSubtree: kotlin.Boolean? = false, cursor: kotlin.String? = null, limit: kotlin.Int? = 50): HttpResponse<PageItemView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        includeSubtree?.apply { localVariableQuery["includeSubtree"] = listOf("$includeSubtree") }
        cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/locations/{id}/items".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * One page of the kinds of place a location can be
     * One page of the kinds of place a location can be.  Thirteen shipped keys at stage 0 (REQ-CORE-042), the same for every tenant. The client translates the key and sorts by the result: they are interface text, interface text lives in a resource bundle (REQ-NFR-032), and only the client knows what order the reader&#39;s language puts thirteen words in.  Under &#x60;/api/v1/locations/categories&#x60; rather than at the top level, because that is what they are for — a category with no location to put it on is not a thing this API offers.
     * @param cursor an opaque cursor from a previous page, or omitted for the first (optional)
     * @param limit how many at most; capped at 200 by the service (optional, default to 50)
     * @return PageLocationCategoryView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listLocationCategories(cursor: kotlin.String? = null, limit: kotlin.Int? = 50): HttpResponse<PageLocationCategoryView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/locations/categories",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * One page of the tenant&#39;s locations, oldest first
     * One page of the tenant&#39;s locations, oldest first.  The whole tree rather than one level. A client building a picker needs the shape, and each row carries its parent and its readable path, which is what a tree is assembled from.
     * @param cursor an opaque cursor from a previous page, or omitted for the first (optional)
     * @param limit how many at most; capped at 200 by the service (optional, default to 50)
     * @return PageLocationView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listLocations(cursor: kotlin.String? = null, limit: kotlin.Int? = 50): HttpResponse<PageLocationView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/locations",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Moves a location, with everything under it (REQ-CORE-043)
     * Moves a location, with everything under it (REQ-CORE-043).  Its own sub-path rather than a &#x60;PATCH&#x60; on the location: what changes is one relationship, and a client that sends the whole location to move it is a client that can rename it by accident. &#x60;parentId&#x60; omitted or null makes it a root. 08 §8.1 names this endpoint, and the spelling follows every other verb in this API — &#x60;/archive&#x60;, &#x60;/publish&#x60;, &#x60;/restore&#x60;.  &#x60;POST&#x60; and still idempotent: moving a place to where it already is answers &#x60;200&#x60; and changes nothing, so a client retrying a request whose answer it never saw is not told it failed.  Requires &#x60;If-Match&#x60; like the other writes on a place. A &#x60;POST&#x60; rather than a &#x60;PUT&#x60; changes nothing about that: what the rule is protecting is the resource, not the verb.
     * @param id the location to move
     * @param moveLocationRequest where to put it
     * @return LocationView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun moveLocation(id: kotlin.String, moveLocationRequest: MoveLocationRequest): HttpResponse<LocationView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = moveLocationRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/locations/{id}/move".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Renames a location
     * Renames a location.  Requires &#x60;If-Match&#x60; (REQ-API-004): renaming is exactly the operation two people do to the same place at the same time.
     * @param id the location
     * @param renameLocationRequest the new name
     * @return LocationView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun renameLocation(id: kotlin.String, renameLocationRequest: RenameLocationRequest): HttpResponse<LocationView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = renameLocationRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/locations/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
