/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package de.greluc.homeinv.client.apis

import de.greluc.homeinv.client.models.EndedView
import de.greluc.homeinv.client.models.OpenSession
import de.greluc.homeinv.client.models.Problem
import de.greluc.homeinv.client.models.SessionView
import de.greluc.homeinv.client.models.SwitchTenantRequest
import de.greluc.homeinv.client.models.TenantMembershipView

import de.greluc.homeinv.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class MeApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Ends every session this account has, including this one (REQ-SEC-082)
     * Ends every session this account has, including this one (REQ-SEC-082).  The measure somebody takes when they think their password reached somebody else: every device is signed out within the second, and the next thing anybody does with a stolen session cookie is sign in again — which they cannot, without the password.  It ends the caller&#39;s own session too, and that is the point rather than a side effect. Leaving one alive would mean the person taking the measure has to guess which of the listed sessions is theirs, and the browser signing itself out is the visible proof it worked.
     * @return EndedView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun endEverySession(): HttpResponse<EndedView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/me/sessions",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Ends one session remotely (REQ-AUTH-009)
     * Ends one session remotely (REQ-AUTH-009).  Immediately, not within the ten minutes the requirement allows: the session is removed from the store every request reads, so the next request that device makes has none.  Ending the current one is allowed and is simply a sign-out — refusing it would be a rule to explain for no benefit, since the caller can sign out anyway.
     * @param handle which session, from the list
     * @return void
     */
    open suspend fun endSession(handle: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/me/sessions/{handle}".replace("{" + "handle" + "}", "$handle"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * The sessions this account has open (REQ-AUTH-009)
     * The sessions this account has open (REQ-AUTH-009).  Every device that is signed in, most recently seen first, each with a handle that stands in for its session id. The id itself is never returned: it is what the cookie carries, so a list of them would be a list of working credentials.  Bounded like every other collection (&#x60;REQ-NFR-010&#x60;), and the bound is on the answer rather than on a query: the store returns one account&#39;s sessions and there is no stable order to page through. Somebody with more open sessions than the limit sees the most recently used ones, which are the ones a person deciding what to end is looking for.
     * @param limit how many at most; capped at 200 (optional, default to 50)
     * @return kotlin.collections.List<OpenSession>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun sessions(limit: kotlin.Int? = 50): HttpResponse<kotlin.collections.List<OpenSession>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/me/sessions",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<SessionsResponse>().map { value }
    }

    @Serializable(SessionsResponse.Companion::class)
    private class SessionsResponse(val value: List<OpenSession>) {
        companion object : KSerializer<SessionsResponse> {
            private val serializer: KSerializer<List<OpenSession>> = serializer<List<OpenSession>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: SessionsResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = SessionsResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Switches the session to another tenant the caller belongs to
     * Switches the session to another tenant the caller belongs to.  A tenant the caller is not a member of is a &#x60;404&#x60; and never a &#x60;403&#x60;: a denial would confirm the tenant exists, which for somebody outside it is the fact they were not supposed to learn (REQ-SEC-025). Switching to the tenant already active is allowed and does nothing, because a client retrying a request whose answer it never saw must not get an error.
     * @param switchTenantRequest the tenant to act for
     * @return SessionView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun switchTenant(switchTenantRequest: SwitchTenantRequest): HttpResponse<SessionView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = switchTenantRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/me/tenant",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Every tenant the caller belongs to, oldest membership first
     * Every tenant the caller belongs to, oldest membership first.  Read through the lookup that works without a tenant context, because the caller is asking which tenant to have and therefore cannot be required to already have one.  There is no cursor, and there does not need to be one: a tenant limit is capped at 200 (&#x60;AppUser.MAX_TENANT_LIMIT&#x60;), which is REQ-NFR-010&#39;s page size, so one page holds every membership anybody can have. The &#x60;limit&#x60; exists so that a client asking for fewer gets fewer, and so that the bound is visible in the contract rather than only in a constraint.
     * @param limit how many at most; capped at 200, which is also the most anybody can have (optional, default to 200)
     * @return kotlin.collections.List<TenantMembershipView>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun tenants(limit: kotlin.Int? = 200): HttpResponse<kotlin.collections.List<TenantMembershipView>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/me/tenants",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<TenantsResponse>().map { value }
    }

    @Serializable(TenantsResponse.Companion::class)
    private class TenantsResponse(val value: List<TenantMembershipView>) {
        companion object : KSerializer<TenantsResponse> {
            private val serializer: KSerializer<List<TenantMembershipView>> = serializer<List<TenantMembershipView>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: TenantsResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = TenantsResponse(serializer.deserialize(decoder))
        }
    }

}
