/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package de.greluc.homeinv.client.apis

import de.greluc.homeinv.client.models.MediaView
import de.greluc.homeinv.client.models.PageMediaView
import de.greluc.homeinv.client.models.Problem
import de.greluc.homeinv.client.models.UploadRequest

import de.greluc.homeinv.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class MediaApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Abandons an upload and discards what arrived.
     * Abandons an upload and discards what arrived.
     * @param uploadId the upload
     * @param tusResumable the protocol version the client speaks (optional)
     * @return void
     */
    open suspend fun abort(uploadId: kotlin.String, tusResumable: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        tusResumable?.apply { localVariableHeaders["Tus-Resumable"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/media/uploads/{uploadId}".replace("{" + "uploadId" + "}", "$uploadId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Sends the next piece, and finishes the upload when it was the last one
     * Sends the next piece, and finishes the upload when it was the last one.  On completion the response carries &#x60;Location&#x60;, pointing at the file that was created — the same resource the one-shot upload&#39;s &#x60;202&#x60; names. tus says nothing about this because tus does not know what the bytes become; a client that lost the response asks again and is told the same thing, because the upload remembers what it produced.
     * @param uploadId the upload
     * @param uploadOffset where these bytes go, from &#x60;Upload-Offset&#x60; (optional)
     * @param contentType what tus requires on this request and nothing else (optional)
     * @param tusResumable the protocol version the client speaks (optional)
     * @return void
     */
    open suspend fun append(uploadId: kotlin.String, uploadOffset: kotlin.Long? = null, contentType: kotlin.String? = null, tusResumable: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        uploadOffset?.apply { localVariableHeaders["Upload-Offset"] = this.toString() }
        contentType?.apply { localVariableHeaders["Content-Type"] = this.toString() }
        tusResumable?.apply { localVariableHeaders["Tus-Resumable"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/api/v1/media/uploads/{uploadId}".replace("{" + "uploadId" + "}", "$uploadId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Begins an upload and answers where to send the bytes
     * Begins an upload and answers where to send the bytes.  The length is declared here and checked **before a byte arrives**, which is what REQ-SEC-037 asks for and what the one-shot path can only approximate by cutting the stream off mid-read.
     * @param uploadLength how many bytes will follow, from &#x60;Upload-Length&#x60; (optional)
     * @param uploadMetadata what the file will be attached to, from &#x60;Upload-Metadata&#x60; (optional)
     * @param tusResumable the protocol version the client speaks (optional)
     * @return void
     */
    open suspend fun create2(uploadLength: kotlin.Long? = null, uploadMetadata: kotlin.String? = null, tusResumable: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        uploadLength?.apply { localVariableHeaders["Upload-Length"] = this.toString() }
        uploadMetadata?.apply { localVariableHeaders["Upload-Metadata"] = this.toString() }
        tusResumable?.apply { localVariableHeaders["Tus-Resumable"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/media/uploads",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Detaches a file, removing the bytes when nothing references them.
     * Detaches a file, removing the bytes when nothing references them.
     * @param mediaObjectId the file
     * @param targetKind the target kind
     * @param targetId the target
     * @return void
     */
    open suspend fun detachMedia(mediaObjectId: kotlin.String, targetKind: kotlin.String, targetId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        targetKind?.apply { localVariableQuery["targetKind"] = listOf("$targetKind") }
        targetId?.apply { localVariableQuery["targetId"] = listOf("$targetId") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/media/{mediaObjectId}".replace("{" + "mediaObjectId" + "}", "$mediaObjectId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * One file, by id — what an upload&#39;s &#x60;Location&#x60; header points at
     * One file, by id — what an upload&#39;s &#x60;Location&#x60; header points at.  The resource a client polls after an upload. Its *status* carries the scan outcome so that a client can branch without parsing a body: &#x60;200&#x60; with signed URLs once the scan cleared it, &#x60;422&#x60; when the scanner refused it, &#x60;503&#x60; while there is no verdict yet (REQ-SEC-092, REQ-MED-013).
     * @param mediaObjectId the file
     * @return MediaView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun findMedia(mediaObjectId: kotlin.String): HttpResponse<MediaView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/media/{mediaObjectId}".replace("{" + "mediaObjectId" + "}", "$mediaObjectId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * One page of the files attached to one thing, oldest first.
     * One page of the files attached to one thing, oldest first.
     * @param targetKind &#x60;ITEM&#x60; or &#x60;LOCATION&#x60;
     * @param targetId the target
     * @param cursor an opaque cursor from a previous page, or omitted for the first (optional)
     * @param limit how many at most; capped at 200 by the service (optional, default to 50)
     * @return PageMediaView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listMedia(targetKind: kotlin.String, targetId: kotlin.String, cursor: kotlin.String? = null, limit: kotlin.Int? = 50): HttpResponse<PageMediaView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        targetKind?.apply { localVariableQuery["targetKind"] = listOf("$targetKind") }
        targetId?.apply { localVariableQuery["targetId"] = listOf("$targetId") }
        cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/media",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * What this server supports, asked before anything is created
     * What this server supports, asked before anything is created.  Authenticated like everything else under &#x60;/api/v1&#x60;: it says what the protocol can do here, which is of no use to somebody who may not upload.
     * @return void
     */
    open suspend fun options(): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.OPTIONS,
            "/api/v1/media/uploads",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Serves the bytes of one variant, to whoever presents a valid signature
     * Serves the bytes of one variant, to whoever presents a valid signature.  No session and no tenant context: the signature carries the authorisation, and the tenant is part of what it covers, so a URL cannot be replayed with a different tenant in the path.  Every response is &#x60;Content-Disposition: attachment&#x60; and &#x60;X-Content-Type-Options: nosniff&#x60;. Even for an image: a file served inline from a hostname runs in that hostname&#39;s origin if a browser can be persuaded to treat it as a document, and the dedicated media hostname exists precisely so that the answer to \&quot;what if it is\&quot; is \&quot;nothing of ours\&quot;.
     * @param tenantId the tenant, from the path and covered by the signature
     * @param sha256 the content address
     * @param variant &#x60;thumb&#x60;, &#x60;preview&#x60; or &#x60;full&#x60;
     * @param u the user the link was signed for, from the query and covered by the signature
     * @param expires the expiry from the query
     * @param signature the signature from the query
     * @return de.greluc.homeinv.client.infrastructure.OctetByteArray
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun serveMedia(tenantId: kotlin.String, sha256: kotlin.String, variant: kotlin.String, u: kotlin.String, expires: kotlin.Long, signature: kotlin.String): HttpResponse<de.greluc.homeinv.client.infrastructure.OctetByteArray> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        u?.apply { localVariableQuery["u"] = listOf("$u") }
        expires?.apply { localVariableQuery["expires"] = listOf("$expires") }
        signature?.apply { localVariableQuery["signature"] = listOf("$signature") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/media/{tenantId}/{sha256}/{variant}".replace("{" + "tenantId" + "}", "$tenantId").replace("{" + "sha256" + "}", "$sha256").replace("{" + "variant" + "}", "$variant"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Where an upload stands
     * Where an upload stands.  The one request a client makes after a connection dropped, and the reason this feature exists: the offset comes from the store that holds the bytes, so the answer is what actually arrived rather than what either side believed.
     * @param uploadId the upload
     * @param tusResumable the protocol version the client speaks (optional)
     * @return void
     */
    open suspend fun status(uploadId: kotlin.String, tusResumable: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        tusResumable?.apply { localVariableHeaders["Tus-Resumable"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.HEAD,
            "/api/v1/media/uploads/{uploadId}".replace("{" + "uploadId" + "}", "$uploadId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Uploads a file and attaches it to an item or a location.
     * Uploads a file and attaches it to an item or a location.
     * @param targetKind &#x60;ITEM&#x60; or &#x60;LOCATION&#x60;
     * @param targetId what to attach it to
     * @param primary whether it becomes the image lists show (optional, default to false)
     * @param role what the attachment is for — &#x60;PHOTO&#x60;, &#x60;RECEIPT&#x60;, &#x60; WARRANTY_PROOF&#x60; or &#x60;OTHER&#x60;. It is what lets the insurance report of REQ-LIFE-016 attach the receipt rather than offering a list of files and leaving the reader to find it (REQ-LIFE-001 was amended for this on 2026-09-20) (optional, default to "PHOTO")
     * @param uploadRequest  (optional)
     * @return MediaView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun uploadMedia(targetKind: kotlin.String, targetId: kotlin.String, primary: kotlin.Boolean? = false, role: kotlin.String? = "PHOTO", uploadRequest: UploadRequest? = null): HttpResponse<MediaView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = uploadRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        targetKind?.apply { localVariableQuery["targetKind"] = listOf("$targetKind") }
        targetId?.apply { localVariableQuery["targetId"] = listOf("$targetId") }
        primary?.apply { localVariableQuery["primary"] = listOf("$primary") }
        role?.apply { localVariableQuery["role"] = listOf("$role") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/media",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
