/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package de.greluc.homeinv.client.apis

import de.greluc.homeinv.client.models.DeletionRequest
import de.greluc.homeinv.client.models.InviteRequest
import de.greluc.homeinv.client.models.IssuedInvitation
import de.greluc.homeinv.client.models.MemberView
import de.greluc.homeinv.client.models.PageInvitationView
import de.greluc.homeinv.client.models.PageMemberView
import de.greluc.homeinv.client.models.Problem
import de.greluc.homeinv.client.models.QuotaState
import de.greluc.homeinv.client.models.RoleRequest
import de.greluc.homeinv.client.models.TenantStateView

import de.greluc.homeinv.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class MembersApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Changes what a member may do.
     * Changes what a member may do.
     * @param tenantId the tenant, which must be the session&#39;s
     * @param userId the member
     * @param roleRequest the new role
     * @return MemberView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun changeRole(tenantId: kotlin.String, userId: kotlin.String, roleRequest: RoleRequest): HttpResponse<MemberView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = roleRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/tenants/{tenantId}/members/{userId}".replace("{" + "tenantId" + "}", "$tenantId").replace("{" + "userId" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * One page of the tenant&#39;s invitations, newest first.
     * One page of the tenant&#39;s invitations, newest first.
     * @param tenantId the tenant, which must be the session&#39;s
     * @param cursor an opaque cursor from a previous page, or omitted for the first (optional)
     * @param limit how many at most; capped at 200 (optional, default to 50)
     * @return PageInvitationView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun invitations(tenantId: kotlin.String, cursor: kotlin.String? = null, limit: kotlin.Int? = 50): HttpResponse<PageInvitationView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/tenants/{tenantId}/invitations".replace("{" + "tenantId" + "}", "$tenantId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Invites somebody into the tenant
     * Invites somebody into the tenant.  The answer carries the token, once. Where &#x60;plugin-smtp&#x60; is installed the invitation also goes out by mail; where it is not — which a &#x60;minimal&#x60; installation is by design — this is the only way the link reaches anybody, and 04 §4.3 describes that as the expected reduced state rather than a failure.
     * @param tenantId the tenant, which must be the session&#39;s
     * @param inviteRequest the address and the role
     * @return IssuedInvitation
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun invite(tenantId: kotlin.String, inviteRequest: InviteRequest): HttpResponse<IssuedInvitation> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = inviteRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/tenants/{tenantId}/invitations".replace("{" + "tenantId" + "}", "$tenantId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * One page of the tenant&#39;s members.
     * One page of the tenant&#39;s members.
     * @param tenantId the tenant, which must be the session&#39;s
     * @param cursor an opaque cursor from a previous page, or omitted for the first (optional)
     * @param limit how many at most; capped at 200 (optional, default to 50)
     * @return PageMemberView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun members(tenantId: kotlin.String, cursor: kotlin.String? = null, limit: kotlin.Int? = 50): HttpResponse<PageMemberView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/tenants/{tenantId}/members".replace("{" + "tenantId" + "}", "$tenantId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Where this tenant stands in each of its four quotas (REQ-TEN-009)
     * Where this tenant stands in each of its four quotas (REQ-TEN-009).  Readable by anybody who may read the tenant, so a client can warn before a limit is reached rather than after. Deliberately exempt from the API-call quota itself: \&quot;how much have I used\&quot; has to be answerable when the answer is \&quot;all of it\&quot;.  Keyed by quota rather than a list, and not to dodge the page cap of REQ-NFR-010: there are exactly four quotas and there will be exactly four tomorrow, so a cursor would page a set that cannot grow. A key is also what a client wants — it reads one quota, not the third element.
     * @param tenantId the tenant, which must be the session&#39;s
     * @return kotlin.collections.Map<kotlin.String, QuotaState>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun quotas(tenantId: kotlin.String): HttpResponse<kotlin.collections.Map<kotlin.String, QuotaState>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/tenants/{tenantId}/quotas".replace("{" + "tenantId" + "}", "$tenantId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<QuotasResponse>().map { value }
    }

    @Serializable(QuotasResponse.Companion::class)
    private class QuotasResponse(val value: Map<kotlin.String, QuotaState>) {
        companion object : KSerializer<QuotasResponse> {
            private val serializer: KSerializer<Map<kotlin.String, QuotaState>> = serializer<Map<String, QuotaState>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: QuotasResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = QuotasResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Removes somebody from the tenant.
     * Removes somebody from the tenant.
     * @param tenantId the tenant, which must be the session&#39;s
     * @param userId the member
     * @return void
     */
    open suspend fun removeMember(tenantId: kotlin.String, userId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/tenants/{tenantId}/members/{userId}".replace("{" + "tenantId" + "}", "$tenantId").replace("{" + "userId" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Asks for the tenant to be erased (REQ-TEN-011, REQ-PRIV-005)
     * Asks for the tenant to be erased (REQ-TEN-011, REQ-PRIV-005).  Answered &#x60;202&#x60;: nothing is erased, and for thirty days nothing will be. The tenant stops answering at once — 05 §5.9&#39;s \&quot;access blocked immediately, data still present\&quot; — and the answer carries the token that withdraws the request and the instant the erasure begins.  The token comes back in the response because that is the only way it reaches anybody where &#x60;plugin-smtp&#x60; is not installed, which a &#x60;minimal&#x60; installation is by design. Where it is, the same link goes out by mail.  &#x60;REQ-SEC-021&#x60; requires the second factor to be confirmed again for an operation like this one. It is wired in with the second factor itself; until then the permission and the owner&#39;s session are what stands in front of it, and no release ships without the rest.
     * @param tenantId the tenant, which must be the session&#39;s
     * @return DeletionRequest
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun requestDeletion(tenantId: kotlin.String): HttpResponse<DeletionRequest> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/tenants/{tenantId}".replace("{" + "tenantId" + "}", "$tenantId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Withdraws an invitation that has not been used.
     * Withdraws an invitation that has not been used.
     * @param tenantId the tenant, which must be the session&#39;s
     * @param invitationId the invitation
     * @return void
     */
    open suspend fun revokeInvitation(tenantId: kotlin.String, invitationId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/tenants/{tenantId}/invitations/{invitationId}".replace("{" + "tenantId" + "}", "$tenantId").replace("{" + "invitationId" + "}", "$invitationId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * What state the tenant is in
     * What state the tenant is in.  Reachable while it is blocked, deliberately: a member who is being refused everything else is entitled to know why, and 05 §5.9 and open point O26 both say the state is visible to a member in the administration view.
     * @param tenantId the tenant, which must be the session&#39;s
     * @return TenantStateView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun state(tenantId: kotlin.String): HttpResponse<TenantStateView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/tenants/{tenantId}".replace("{" + "tenantId" + "}", "$tenantId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
