/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package de.greluc.homeinv.client.apis

import de.greluc.homeinv.client.models.PluginView
import de.greluc.homeinv.client.models.Problem
import de.greluc.homeinv.client.models.SettingRequest
import de.greluc.homeinv.client.models.SettingView

import de.greluc.homeinv.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class PluginsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Removes one setting, so the manifest&#39;s default applies again
     * Removes one setting, so the manifest&#39;s default applies again.  Removing what was never set is not an error, for the reason withdrawing a capability is not.
     * @param pluginId the plugin
     * @param key the setting
     * @return void
     */
    open suspend fun clearPluginSetting(pluginId: kotlin.String, key: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/plugins/{pluginId}/settings/{key}".replace("{" + "pluginId" + "}", "$pluginId").replace("{" + "key" + "}", "$key"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Configures one setting, for this tenant
     * Configures one setting, for this tenant.  A key the plugin&#39;s current manifest does not declare is refused rather than stored: it would sit waiting to become live the day an update declared it, which is the same mistake as consenting to a capability nobody asked for (REQ-PLG-006).
     * @param pluginId the plugin
     * @param key the setting the manifest declares
     * @param settingRequest the value
     * @return void
     */
    open suspend fun configurePlugin(pluginId: kotlin.String, key: kotlin.String, settingRequest: SettingRequest): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = settingRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/plugins/{pluginId}/settings/{key}".replace("{" + "pluginId" + "}", "$pluginId").replace("{" + "key" + "}", "$key"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Agrees to one capability, for this tenant
     * Agrees to one capability, for this tenant.  Idempotent: agreeing twice is one grant. A capability the plugin&#39;s manifest does not declare is refused rather than recorded — consent to something it never asked for is consent to nothing, and would be waiting as a permission if it asked later.
     * @param pluginId the plugin
     * @param capability the capability, spelled as 09 §9.4 spells it
     * @return void
     */
    open suspend fun grantCapability(pluginId: kotlin.String, capability: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/plugins/{pluginId}/capabilities/{capability}".replace("{" + "pluginId" + "}", "$pluginId").replace("{" + "capability" + "}", "$capability"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * The plugins the operator installed, with what this tenant has permitted each
     * The plugins the operator installed, with what this tenant has permitted each.  Bounded at 200 like every list (REQ-NFR-010) and without a cursor, for the reason {@link PluginRegistry#installed(int) PluginRegistry#installed(int)} gives: the collection grows with the deployment rather than with a tenant&#39;s data, and an operator runs a handful of plugin containers, not a page of them. The parameter is here so that a client asking for fewer gets fewer, and so that the bound is part of the contract rather than only of the query.
     * @param limit how many at most; capped at 200 (optional, default to 200)
     * @return kotlin.collections.List<PluginView>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun installedPlugins(limit: kotlin.Int? = 200): HttpResponse<kotlin.collections.List<PluginView>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/plugins",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<InstalledPluginsResponse>().map { value }
    }

    @Serializable(InstalledPluginsResponse.Companion::class)
    private class InstalledPluginsResponse(val value: List<PluginView>) {
        companion object : KSerializer<InstalledPluginsResponse> {
            private val serializer: KSerializer<List<PluginView>> = serializer<List<PluginView>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: InstalledPluginsResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = InstalledPluginsResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * One plugin.
     * One plugin.
     * @param pluginId its reverse-domain id
     * @return PluginView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun plugin(pluginId: kotlin.String): HttpResponse<PluginView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/plugins/{pluginId}".replace("{" + "pluginId" + "}", "$pluginId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * What this tenant configured for one plugin, and what it could configure
     * What this tenant configured for one plugin, and what it could configure.  Every setting the manifest declares, whether or not a value has been stored, because \&quot;what it wants\&quot; without \&quot;what it has\&quot; is not something anybody can act on — the same reasoning the capability list follows.  **A secret&#39;s value never comes back.** &#x60;value&#x60; is null for one and &#x60;set&#x60; says whether there is one to replace, which is what a password field does everywhere else.
     * @param pluginId the plugin
     * @param limit how many at most; capped at 200 (REQ-NFR-010) (optional, default to 200)
     * @return kotlin.collections.List<SettingView>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun pluginSettings(pluginId: kotlin.String, limit: kotlin.Int? = 200): HttpResponse<kotlin.collections.List<SettingView>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/plugins/{pluginId}/settings".replace("{" + "pluginId" + "}", "$pluginId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<PluginSettingsResponse>().map { value }
    }

    @Serializable(PluginSettingsResponse.Companion::class)
    private class PluginSettingsResponse(val value: List<SettingView>) {
        companion object : KSerializer<PluginSettingsResponse> {
            private val serializer: KSerializer<List<SettingView>> = serializer<List<SettingView>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: PluginSettingsResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = PluginSettingsResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Withdraws one capability, for this tenant
     * Withdraws one capability, for this tenant.  Withdrawing what was never granted is not an error: what a caller wants is \&quot;this plugin may not do this here\&quot;, and that is already true.
     * @param pluginId the plugin
     * @param capability the capability
     * @return void
     */
    open suspend fun withdrawCapability(pluginId: kotlin.String, capability: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/plugins/{pluginId}/capabilities/{capability}".replace("{" + "pluginId" + "}", "$pluginId").replace("{" + "capability" + "}", "$capability"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
