/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package de.greluc.homeinv.client.apis

import de.greluc.homeinv.client.models.Problem
import de.greluc.homeinv.client.models.ReminderRuleView
import de.greluc.homeinv.client.models.RuleRequest

import de.greluc.homeinv.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class ReminderRulesApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Creates a rule.
     * Creates a rule.
     * @param ruleRequest what to watch, which of them, when and where
     * @return ReminderRuleView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun createRule(ruleRequest: RuleRequest): HttpResponse<ReminderRuleView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = ruleRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/reminder-rules",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * The tenant&#39;s reminder rules
     * The tenant&#39;s reminder rules.  Bounded rather than paged: a household has a handful of rules, and a cursor over a list that short is machinery nobody needs — the argument &#x60;MaintenanceLog.entriesOf&#x60; makes. The cap is not optional even so, because REQ-NFR-010 applies to **every** collection without exception, and a rule with exceptions is not one a check can enforce.
     * @param limit how many at most; capped at 200 (optional, default to 50)
     * @return kotlin.collections.List<ReminderRuleView>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listRules(limit: kotlin.Int? = 50): HttpResponse<kotlin.collections.List<ReminderRuleView>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/reminder-rules",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ListRulesResponse>().map { value }
    }

    @Serializable(ListRulesResponse.Companion::class)
    private class ListRulesResponse(val value: List<ReminderRuleView>) {
        companion object : KSerializer<ListRulesResponse> {
            private val serializer: KSerializer<List<ReminderRuleView>> = serializer<List<ReminderRuleView>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ListRulesResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ListRulesResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Removes a rule.
     * Removes a rule.
     * @param id which one
     * @return void
     */
    open suspend fun removeRule(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/reminder-rules/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Replaces a rule.
     * Replaces a rule.
     * @param id which one
     * @param ruleRequest what it should now say
     * @return ReminderRuleView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun replaceRule(id: kotlin.String, ruleRequest: RuleRequest): HttpResponse<ReminderRuleView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = ruleRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/reminder-rules/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * One rule.
     * One rule.
     * @param id which one
     * @return ReminderRuleView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun rule(id: kotlin.String): HttpResponse<ReminderRuleView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/reminder-rules/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Which triggers this installation can actually answer (REQ-NOTI-003)
     * Which triggers this installation can actually answer (REQ-NOTI-003).  Its own endpoint so that a client offers a choice that works. Two of the six triggers have no source behind them — a stocktake is stage 2 and no licence expiry is stored — and a form listing them would be offering a rule that is refused on save.
     * @param limit how many at most; capped at 200, which this list cannot approach — the cap is here because REQ-NFR-010 admits no exception, and an enforced rule with exceptions is not enforced (optional, default to 50)
     * @return kotlin.collections.List<kotlin.String>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun servedTriggers(limit: kotlin.Int? = 50): HttpResponse<kotlin.collections.List<kotlin.String>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/reminder-rules/triggers",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ServedTriggersResponse>().map { value }
    }

    @Serializable(ServedTriggersResponse.Companion::class)
    private class ServedTriggersResponse(val value: List<kotlin.String>) {
        companion object : KSerializer<ServedTriggersResponse> {
            private val serializer: KSerializer<List<kotlin.String>> = serializer<List<kotlin.String>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ServedTriggersResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ServedTriggersResponse(serializer.deserialize(decoder))
        }
    }

}
