/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package de.greluc.homeinv.client.apis

import de.greluc.homeinv.client.models.Expiring
import de.greluc.homeinv.client.models.Problem
import de.greluc.homeinv.client.models.Report
import de.greluc.homeinv.client.models.ValuationSummary

import de.greluc.homeinv.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class ReportsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Everything that runs out, soonest first (REQ-LIFE-013)
     * Everything that runs out, soonest first (REQ-LIFE-013).  Warranty ends, licence expiries and best-before dates in one list. The first is a column on the item; the other two are type attributes whose field is marked &#x60;expiry&#x60;, which is what lets a tenant&#39;s own date join the list without this endpoint knowing its name.  Dates that have already gone are included **by default**: a warranty that ran out last month is the one somebody most wants to know about, and an overview that quietly dropped it would forget its own point.
     * @param upTo the last date to include, or omitted for everything. A caller wanting the next fortnight passes today plus fourteen (optional)
     * @param includePast whether to include what has already run out; &#x60;true&#x60; unless said otherwise (optional, default to true)
     * @param limit how many at most; capped at 200 (optional, default to 50)
     * @return kotlin.collections.List<Expiring>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun expiries(upTo: kotlinx.datetime.LocalDate? = null, includePast: kotlin.Boolean? = true, limit: kotlin.Int? = 50): HttpResponse<kotlin.collections.List<Expiring>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        upTo?.apply { localVariableQuery["upTo"] = listOf("$upTo") }
        includePast?.apply { localVariableQuery["includePast"] = listOf("$includePast") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/reports/expiries",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ExpiriesResponse>().map { value }
    }

    @Serializable(ExpiriesResponse.Companion::class)
    private class ExpiriesResponse(val value: List<Expiring>) {
        companion object : KSerializer<ExpiriesResponse> {
            private val serializer: KSerializer<List<Expiring>> = serializer<List<Expiring>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ExpiriesResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ExpiriesResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * What an insurer asks for (REQ-LIFE-016)
     * What an insurer asks for (REQ-LIFE-016).  Replacement value per room and in total, per currency, with the day each figure was true and the evidence that backs it up. Not what a thing cost and not what it is worth now: an insurer asks what buying it again would cost, which is REQ-LIFE-014&#39;s separate column.  Served as **data**. A PDF is a &#x60;DocumentRenderer&#x60; plugin&#39;s job (&lt;a href&#x3D;\&quot;../../../../../../../docs/adr/0070-documents-are-described-not-programmed.md\&quot;&gt;ADR-0070&lt;/a&gt;), which is why this endpoint answers JSON and CSV and the rendered document has its own path: an instance with no renderer installed still produces the figures.
     * @param root the place to report on, or omitted for everything the tenant has (optional)
     * @param limit how many items at most; capped at 200 (optional, default to 50)
     * @return Report
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun insurance(root: kotlin.String? = null, limit: kotlin.Int? = 50): HttpResponse<Report> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        root?.apply { localVariableQuery["root"] = listOf("$root") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/reports/insurance",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * The same report as a document, rendered by a plugin (REQ-LIFE-016, ADR-0070)
     * The same report as a document, rendered by a plugin (REQ-LIFE-016, ADR-0070).  The core describes the document and whichever &#x60;DocumentRenderer&#x60; the operator installed renders it. An instance with none answers &#x60;409 no-document-renderer&#x60; and says that the figures are available from the two endpoints beside this one — an empty file would be a worse answer than a refusal somebody can act on.
     * @param root the place to report on, or omitted for everything (optional)
     * @param limit how many items at most; capped at 200 (optional, default to 50)
     * @param acceptLanguage what the reader reads, passed to the renderer (optional, default to "en")
     * @return de.greluc.homeinv.client.infrastructure.Base64ByteArray
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun insuranceDocument(root: kotlin.String? = null, limit: kotlin.Int? = 50, acceptLanguage: kotlin.String? = "en"): HttpResponse<de.greluc.homeinv.client.infrastructure.Base64ByteArray> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        root?.apply { localVariableQuery["root"] = listOf("$root") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()
        acceptLanguage?.apply { localVariableHeaders["Accept-Language"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/reports/insurance.pdf",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * The same report as a table, for a spreadsheet (REQ-LIFE-016)
     * The same report as a table, for a spreadsheet (REQ-LIFE-016).  One line per item with its room, because that is the shape somebody pastes into whatever their insurer sent them. The evidence is named by id rather than embedded: a CSV has nowhere to put a photograph, and pretending otherwise would produce a file no spreadsheet opens.
     * @param root the place to report on, or omitted for everything (optional)
     * @param limit how many items at most; capped at 200 (optional, default to 50)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun insuranceTable(root: kotlin.String? = null, limit: kotlin.Int? = 50): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        root?.apply { localVariableQuery["root"] = listOf("$root") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/reports/insurance.csv",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * enum for parameter by
     */
    @Serializable
    enum class ByValuation(val value: kotlin.String) {
        
        @SerialName(value = "LOCATION")
        LOCATION("LOCATION"),
        
        @SerialName(value = "TYPE")
        TYPE("TYPE"),
        
        @SerialName(value = "TAG")
        TAG("TAG");
        
        override fun toString(): kotlin.String = value
    }

    /**
     * What the things in here are worth (REQ-LIFE-008)
     * What the things in here are worth (REQ-LIFE-008).  Three figures per row, each per currency and never mixed — REQ-LIFE-017 forbids a mixed-currency total \&quot;not even as an approximation\&quot;, so a set spanning two currencies is two lines and the answer says &#x60;converted: false&#x60; rather than leaving it to be assumed.  A location row carries **both** its own total and its subtree&#39;s, labelled: a room holds boxes, and \&quot;what is this room worth\&quot; and \&quot;what is sitting directly in this room\&quot; are different questions. For a type or a tag there is no tree and the two are equal.
     * @param by &#x60;location&#x60;, &#x60;type&#x60; or &#x60;tag&#x60;
     * @param root for &#x60;by&#x3D;location&#x60; only: the place to report on, or omitted for the whole tenant. Ignored for the other dimensions rather than refused, because a client switching the dimension should not have to clear it (optional)
     * @param limit how many rows at most; capped at 200 (optional, default to 50)
     * @return ValuationSummary
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun valuation(by: ByValuation, root: kotlin.String? = null, limit: kotlin.Int? = 50): HttpResponse<ValuationSummary> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        by?.apply { localVariableQuery["by"] = listOf("${ by.value }") }
        root?.apply { localVariableQuery["root"] = listOf("$root") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/reports/valuation",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
