/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package de.greluc.homeinv.client.apis

import de.greluc.homeinv.client.models.PageItemView
import de.greluc.homeinv.client.models.PageSavedSearchResponse
import de.greluc.homeinv.client.models.Problem
import de.greluc.homeinv.client.models.SavedSearchRequest
import de.greluc.homeinv.client.models.SavedSearchResponse

import de.greluc.homeinv.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class SavedSearchesApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Saves a query under a name.
     * Saves a query under a name.
     * @param savedSearchRequest the name and the query
     * @return SavedSearchResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun createSavedSearch(savedSearchRequest: SavedSearchRequest): HttpResponse<SavedSearchResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = savedSearchRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/saved-searches",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Removes a saved search.
     * Removes a saved search.
     * @param id which one
     * @return void
     */
    open suspend fun deleteSavedSearch(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/saved-searches/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * The tenant&#39;s saved searches, oldest first.
     * The tenant&#39;s saved searches, oldest first.
     * @param cursor an opaque cursor from a previous response, or omitted for the first page (optional)
     * @param limit how many at most; capped at 200 by the service (optional, default to 50)
     * @return PageSavedSearchResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listSavedSearches(cursor: kotlin.String? = null, limit: kotlin.Int? = 50): HttpResponse<PageSavedSearchResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/saved-searches",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * One saved search.
     * One saved search.
     * @param id which one
     * @return SavedSearchResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun savedSearch(id: kotlin.String): HttpResponse<SavedSearchResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/saved-searches/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Runs a saved search
     * Runs a saved search.  The ordinary search envelope: a smart list is the list the same query typed by hand would produce, so a client renders it with the code it already has.
     * @param id which saved search
     * @param cursor an opaque cursor from a previous response, or omitted for the first page (optional)
     * @param limit how many at most (optional, default to 50)
     * @return PageItemView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun savedSearchItems(id: kotlin.String, cursor: kotlin.String? = null, limit: kotlin.Int? = 50): HttpResponse<PageItemView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/saved-searches/{id}/items".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Changes a saved search.
     * Changes a saved search.
     * @param id which one
     * @param savedSearchRequest the new name and query
     * @return SavedSearchResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun updateSavedSearch(id: kotlin.String, savedSearchRequest: SavedSearchRequest): HttpResponse<SavedSearchResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = savedSearchRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/saved-searches/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
