/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package de.greluc.homeinv.client.apis

import de.greluc.homeinv.client.models.CeremonyView
import de.greluc.homeinv.client.models.EnrolmentView
import de.greluc.homeinv.client.models.PasskeyRegistrationRequest
import de.greluc.homeinv.client.models.Problem
import de.greluc.homeinv.client.models.RecoveryCodesView
import de.greluc.homeinv.client.models.SecondFactorRequest
import de.greluc.homeinv.client.models.TotpEnrolmentView

import de.greluc.homeinv.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class SecondFactorApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * The options a browser needs to create a passkey (REQ-AUTH-002).
     * The options a browser needs to create a passkey (REQ-AUTH-002).
     * @return CeremonyView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun beginPasskey(): HttpResponse<CeremonyView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/auth/mfa/passkeys",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Begins a TOTP enrolment
     * Begins a TOTP enrolment.  The secret is returned **once**, here, and is unreadable afterwards: it is sealed under the instance&#39;s credential key before it is stored. A client that loses it asks again, which replaces the unconfirmed enrolment.
     * @return TotpEnrolmentView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun beginTotp(): HttpResponse<TotpEnrolmentView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/auth/mfa/totp",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Finishes registering a passkey.
     * Finishes registering a passkey.
     * @param passkeyRegistrationRequest what the browser produced, and what to call this authenticator
     * @return void
     */
    open suspend fun confirmPasskey(passkeyRegistrationRequest: PasskeyRegistrationRequest): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = passkeyRegistrationRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/auth/mfa/passkeys/confirmation",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Confirms an enrolment with a code, and issues the recovery codes
     * Confirms an enrolment with a code, and issues the recovery codes.  The codes are returned **once**, here. They are stored as Argon2id hashes, so nothing — this application included — can show them again.
     * @param secondFactorRequest the code from the authenticator app
     * @return RecoveryCodesView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun confirmTotp(secondFactorRequest: SecondFactorRequest): HttpResponse<RecoveryCodesView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = secondFactorRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/auth/mfa/totp/confirmation",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * What the caller&#39;s account holds.
     * What the caller&#39;s account holds.  /_** What the caller&#39;s account holds.
     * @return EnrolmentView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun enrolment(): HttpResponse<EnrolmentView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/auth/mfa/enrolment",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * The options a browser needs to prove a passkey (REQ-AUTH-002)
     * The options a browser needs to prove a passkey (REQ-AUTH-002).  Serves both moments a passkey is proved: the second half of a login, where the account comes from the pending login the password left behind, and a re-confirmation, where it comes from the session. Hence no session requirement and no user id in the request — the one thing a caller may not do is say whose passkeys it wants the options for.
     * @return CeremonyView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun passkeyChallenge(): HttpResponse<CeremonyView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/auth/mfa/passkeys/challenge",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Issues a fresh set of recovery codes, retiring whatever is left of the old one.
     * Issues a fresh set of recovery codes, retiring whatever is left of the old one.
     * @return RecoveryCodesView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun reissueRecoveryCodes(): HttpResponse<RecoveryCodesView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/auth/mfa/recovery-codes",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Removes one passkey
     * Removes one passkey.  Asks for the second factor to have been proved recently (REQ-AUTH-011) rather than for a code in the body, which is how the TOTP removal beside it works: an account whose only factor is a passkey has no code to type, and the re-confirmation takes either kind.
     * @param passkeyId which one
     * @return void
     */
    open suspend fun removePasskey(passkeyId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/auth/mfa/passkeys/{passkeyId}/removal".replace("{" + "passkeyId" + "}", "$passkeyId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Removes the second factor, with a code as the proof
     * Removes the second factor, with a code as the proof.  A &#x60;POST&#x60; to a noun rather than a &#x60;DELETE&#x60;, because the proof travels in a body: a one-time code in a query string is a one-time code in an access log.
     * @param secondFactorRequest a current code, or a recovery code
     * @return void
     */
    open suspend fun removeTotp(secondFactorRequest: SecondFactorRequest): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = secondFactorRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/auth/mfa/totp/removal",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Proves the second factor again, for an operation that asks (REQ-AUTH-011)
     * Proves the second factor again, for an operation that asks (REQ-AUTH-011).  The same code the login takes, against a session that already exists. What it changes is one instant in that session: for the next fifteen minutes the operations of 12 §12.4 are permitted and sensitive fields are shown.
     * @param secondFactorRequest the code
     * @return void
     */
    open suspend fun stepUp(secondFactorRequest: SecondFactorRequest): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = secondFactorRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/auth/mfa/step-up",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
