/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package de.greluc.homeinv.client.apis

import de.greluc.homeinv.client.models.IssuedServiceAccount
import de.greluc.homeinv.client.models.Problem
import de.greluc.homeinv.client.models.ServiceAccountRequest
import de.greluc.homeinv.client.models.ServiceAccountView
import de.greluc.homeinv.client.models.TokensRevokedView

import de.greluc.homeinv.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class ServiceAccountsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Issues a service account, and returns its token once.
     * Issues a service account, and returns its token once.
     * @param tenantId the tenant, which must be the session&#39;s own
     * @param serviceAccountRequest what to call it, what it may do, and when it stops working
     * @return IssuedServiceAccount
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun issue(tenantId: kotlin.String, serviceAccountRequest: ServiceAccountRequest): HttpResponse<IssuedServiceAccount> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = serviceAccountRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/tenants/{tenantId}/service-accounts".replace("{" + "tenantId" + "}", "$tenantId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * The tenant&#39;s service accounts, newest first.
     * The tenant&#39;s service accounts, newest first.
     * @param tenantId the tenant, which must be the session&#39;s own
     * @param limit how many at most; capped at 200 (optional, default to 50)
     * @return kotlin.collections.List<ServiceAccountView>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun list(tenantId: kotlin.String, limit: kotlin.Int? = 50): HttpResponse<kotlin.collections.List<ServiceAccountView>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/tenants/{tenantId}/service-accounts".replace("{" + "tenantId" + "}", "$tenantId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ListResponse>().map { value }
    }

    @Serializable(ListResponse.Companion::class)
    private class ListResponse(val value: List<ServiceAccountView>) {
        companion object : KSerializer<ListResponse> {
            private val serializer: KSerializer<List<ServiceAccountView>> = serializer<List<ServiceAccountView>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ListResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ListResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Revokes one, at once.
     * Revokes one, at once.
     * @param tenantId the tenant, which must be the session&#39;s own
     * @param id the account
     * @return void
     */
    open suspend fun revoke1(tenantId: kotlin.String, id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/tenants/{tenantId}/service-accounts/{id}".replace("{" + "tenantId" + "}", "$tenantId").replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Revokes every one of this tenant&#39;s tokens (REQ-SEC-082)
     * Revokes every one of this tenant&#39;s tokens (REQ-SEC-082).  The immediate measure, and deliberately a different URL from revoking one rather than a flag on it: &#x60;DELETE&#x60; on the collection is what \&quot;all of them\&quot; means in HTTP, and a parameter that turned a single revocation into a mass one is the kind of call somebody makes by accident.  It answers with the count rather than &#x60;204&#x60;, because \&quot;how many did that stop\&quot; is the first question afterwards and the operator is unlikely to know.
     * @param tenantId the tenant, which must be the session&#39;s own
     * @return TokensRevokedView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun revokeAll(tenantId: kotlin.String): HttpResponse<TokensRevokedView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/tenants/{tenantId}/service-accounts".replace("{" + "tenantId" + "}", "$tenantId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
