/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package de.greluc.homeinv.client.apis

import de.greluc.homeinv.client.models.PageTagGroupView
import de.greluc.homeinv.client.models.PageTagView
import de.greluc.homeinv.client.models.Problem
import de.greluc.homeinv.client.models.TagGroupRequest
import de.greluc.homeinv.client.models.TagGroupView
import de.greluc.homeinv.client.models.TagRequest
import de.greluc.homeinv.client.models.TagView

import de.greluc.homeinv.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class TagsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Creates a tag group.
     * Creates a tag group.
     * @param tagGroupRequest the key, labels, exclusivity and order
     * @return TagGroupView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun createGroup(tagGroupRequest: TagGroupRequest): HttpResponse<TagGroupView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = tagGroupRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/tag-groups",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Creates a tag.
     * Creates a tag.
     * @param tagRequest the name, optional group, colour and icon
     * @return TagView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun createTag(tagRequest: TagRequest): HttpResponse<TagView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = tagRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/tags",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * The tags one item carries.
     * The tags one item carries.
     * @param id the item
     * @param cursor an opaque cursor from a previous page, or omitted for the first (optional)
     * @param limit how many at most; capped at 200 by the service (optional, default to 50)
     * @return PageTagView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun itemTags(id: kotlin.String, cursor: kotlin.String? = null, limit: kotlin.Int? = 50): HttpResponse<PageTagView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/items/{id}/tags".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * One page of the tenant&#39;s tag groups.
     * One page of the tenant&#39;s tag groups.
     * @param cursor an opaque cursor from a previous page, or omitted for the first (optional)
     * @param limit how many at most; capped at 200 by the service (optional, default to 50)
     * @return PageTagGroupView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listGroups(cursor: kotlin.String? = null, limit: kotlin.Int? = 50): HttpResponse<PageTagGroupView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/tag-groups",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * One page of the tenant&#39;s tags.
     * One page of the tenant&#39;s tags.
     * @param cursor an opaque cursor from a previous page, or omitted for the first (optional)
     * @param limit how many at most; capped at 200 by the service (optional, default to 50)
     * @return PageTagView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listTags(cursor: kotlin.String? = null, limit: kotlin.Int? = 50): HttpResponse<PageTagView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/tags",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * The tags one place carries.
     * The tags one place carries.
     * @param id the place
     * @param cursor an opaque cursor from a previous page, or omitted for the first (optional)
     * @param limit how many at most; capped at 200 by the service (optional, default to 50)
     * @return PageTagView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun locationTags(id: kotlin.String, cursor: kotlin.String? = null, limit: kotlin.Int? = 50): HttpResponse<PageTagView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/locations/{id}/tags".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Merges one tag into another (REQ-CORE-063)
     * Merges one tag into another (REQ-CORE-063).  &#x60;POST&#x60; rather than &#x60;DELETE&#x60;: this is not a deletion. The source becomes a tombstone pointing at the target, every assignment moves, and a client holding the old id is redirected rather than told it never existed.
     * @param id the tag that disappears
     * @param targetId the tag that absorbs it
     * @return TagView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun mergeTag(id: kotlin.String, targetId: kotlin.String): HttpResponse<TagView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/tags/{id}/merge-into/{targetId}".replace("{" + "id" + "}", "$id").replace("{" + "targetId" + "}", "$targetId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Puts a tag on an item
     * Puts a tag on an item.  &#x60;PUT&#x60; because it is idempotent: the same request twice leaves the same one assignment, which is what a client retrying a request it never saw the answer to needs.
     * @param id the item
     * @param tagId the tag
     * @return void
     */
    open suspend fun tagItem(id: kotlin.String, tagId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/items/{id}/tags/{tagId}".replace("{" + "id" + "}", "$id").replace("{" + "tagId" + "}", "$tagId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Puts a tag on a place.
     * Puts a tag on a place.
     * @param id the place
     * @param tagId the tag
     * @return void
     */
    open suspend fun tagLocation(id: kotlin.String, tagId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/locations/{id}/tags/{tagId}".replace("{" + "id" + "}", "$id").replace("{" + "tagId" + "}", "$tagId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Takes a tag off an item.
     * Takes a tag off an item.
     * @param id the item
     * @param tagId the tag
     * @return void
     */
    open suspend fun untagItem(id: kotlin.String, tagId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/items/{id}/tags/{tagId}".replace("{" + "id" + "}", "$id").replace("{" + "tagId" + "}", "$tagId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Takes a tag off a place.
     * Takes a tag off a place.
     * @param id the place
     * @param tagId the tag
     * @return void
     */
    open suspend fun untagLocation(id: kotlin.String, tagId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/locations/{id}/tags/{tagId}".replace("{" + "id" + "}", "$id").replace("{" + "tagId" + "}", "$tagId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Renames a tag, recolours it, or moves it between groups.
     * Renames a tag, recolours it, or moves it between groups.
     * @param id the tag
     * @param tagRequest the new state
     * @return TagView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun updateTag(id: kotlin.String, tagRequest: TagRequest): HttpResponse<TagView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = tagRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/tags/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
