/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package de.greluc.homeinv.client.apis

import de.greluc.homeinv.client.models.Problem
import de.greluc.homeinv.client.models.QueuedNotification
import de.greluc.homeinv.client.models.TargetRequest
import de.greluc.homeinv.client.models.WebhookTargetView

import de.greluc.homeinv.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class WebhooksApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Adds a target.
     * Adds a target.
     * @param targetRequest where, what for, and the secret to sign with
     * @return WebhookTargetView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun createTarget(targetRequest: TargetRequest): HttpResponse<WebhookTargetView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = targetRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/webhooks",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * What has been delivered to one target (REQ-NOTI-005)
     * What has been delivered to one target (REQ-NOTI-005).  The same delivery log a person&#39;s notifications are in, filtered to this target: state, attempts and when the next one is due. What each attempt said is in the notification&#39;s own attempt list.
     * @param id which target
     * @param limit how many at most; capped at 200 (optional, default to 50)
     * @return kotlin.collections.List<QueuedNotification>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun deliveries(id: kotlin.String, limit: kotlin.Int? = 50): HttpResponse<kotlin.collections.List<QueuedNotification>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/webhooks/{id}/deliveries".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<DeliveriesResponse>().map { value }
    }

    @Serializable(DeliveriesResponse.Companion::class)
    private class DeliveriesResponse(val value: List<QueuedNotification>) {
        companion object : KSerializer<DeliveriesResponse> {
            private val serializer: KSerializer<List<QueuedNotification>> = serializer<List<QueuedNotification>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: DeliveriesResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = DeliveriesResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Which events this deployment raises (REQ-API-010)
     * Which events this deployment raises (REQ-API-010).  Its own endpoint so that a form offers a subscription that works, exactly as &#x60; /reminder-rules/triggers&#x60; does. The list is the one in &#x60; docs/reference/event-types.yaml&#x60;, and a name absent from it is refused on save.
     * @param limit how many at most; capped at 200, which this list cannot approach — the cap is here because REQ-NFR-010 admits no exception, and an enforced rule with exceptions is not enforced (optional, default to 50)
     * @return kotlin.collections.List<kotlin.String>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun eventTypes(limit: kotlin.Int? = 50): HttpResponse<kotlin.collections.List<kotlin.String>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/webhooks/event-types",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<EventTypesResponse>().map { value }
    }

    @Serializable(EventTypesResponse.Companion::class)
    private class EventTypesResponse(val value: List<kotlin.String>) {
        companion object : KSerializer<EventTypesResponse> {
            private val serializer: KSerializer<List<kotlin.String>> = serializer<List<kotlin.String>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: EventTypesResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = EventTypesResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * The tenant&#39;s webhook targets
     * The tenant&#39;s webhook targets.  Bounded rather than paged, like the reminder rules: a tenant has a handful of integrations, and a cursor over a list that short is machinery nobody needs. The cap is not optional even so, because REQ-NFR-010 applies to every collection without exception.
     * @param limit how many at most; capped at 200 (optional, default to 50)
     * @return kotlin.collections.List<WebhookTargetView>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listTargets(limit: kotlin.Int? = 50): HttpResponse<kotlin.collections.List<WebhookTargetView>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/webhooks",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ListTargetsResponse>().map { value }
    }

    @Serializable(ListTargetsResponse.Companion::class)
    private class ListTargetsResponse(val value: List<WebhookTargetView>) {
        companion object : KSerializer<ListTargetsResponse> {
            private val serializer: KSerializer<List<WebhookTargetView>> = serializer<List<WebhookTargetView>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ListTargetsResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ListTargetsResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Removes a target and everything delivered to it.
     * Removes a target and everything delivered to it.
     * @param id which one
     * @return void
     */
    open suspend fun removeTarget(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/webhooks/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Replaces a target.
     * Replaces a target.
     * @param id which one
     * @param targetRequest what it should now say; an absent secret keeps the stored one
     * @return WebhookTargetView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun replaceTarget(id: kotlin.String, targetRequest: TargetRequest): HttpResponse<WebhookTargetView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = targetRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/webhooks/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * One target.
     * One target.
     * @param id which one
     * @return WebhookTargetView
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun target(id: kotlin.String): HttpResponse<WebhookTargetView> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/webhooks/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
